{{#> layout }}
<div class="about">
    <center><h2>Om | <a href="/about/news">Nyheter</a> | <a href="/about/usage">Använda</a> | <a href="/about/faq">FAQ</a> | <a href="/about/stats">Statistik</a> | <a href="/about/privacy">Integritet</a>
</h2></center>

    <p>Servern <span class="brand">keys.openpgp.org</span> är publik tjänst för att
        distribuera och hitta OpenPGP-kompatibla nycklar, allmänt
        känt som en "nyckelserver".</p>

    <p><strong>För instruktioner, se vår <a href="/about/usage">användarguide</a>.</strong></p>

    <h3>Hur det fungerar</h3>

    <p>En OpenPGP-nyckel består av två typer av information:</p>

    <ul>
<li>
<strong>Identitetsinformation</strong> beskriver de delarna av
            en nyckel som identifierar dess ägare, även kända som "användar-ID:n".
            Ett användar-ID innehåller typiskt sett ett namn och en e-postadress.</li>
        <li>
<strong>Icke-identifierbar information</strong> är all den tekniska
            informationen om nyckeln i sig. Detta omfattar de stora tal
            som används för att verifiera signaturer och kryptera meddelanden.
            Det omfattar också metadata så som skapelsedatum, vissa
            utgångsdatum, samt återkallelsestatus.</li>
    </ul>
<p>Traditionellt sett har dessa delar av information alltid distribuerats
        tillsammans. På <span class="brand">keys.openpgp.org</span> behandlas
        de annorlunda. Även om vem som helst kan ladda upp alla delar hos en OpenPGP-nyckel
        till <span class="brand">keys.openpgp.org</span> kommer vår nyckelserver
        endast behålla och publicera vissa delar under vissa
        förhållanden:</p>

    <p>All <strong>icke-identifierbar information</strong> kommer att lagras och
        distribueras på nytt, om den passerar en kryptografisk integritetskontroll.
        Alla kan ladda ned dessa delar när som helst eftersom de endast består
        av tekniska data som inte kan användas för att identifiera en person direkt.
        Bra OpenPGP-mjukvara kan använda <span class="brand">keys.openpgp.org</span>
        för att hålla den här informationen uppdaterad för alla de nycklar programmet känner till.
        Detta hjälper OpenPGP-användare att upprätthålla en säker och pålitlig kommunikation.</p>

    <p><strong>Identitetsinformationen</strong> i en OpenPGP-nyckel
        distribueras endast med samtycke.
        Den innehåller personlig information och är strikt sett inte nödvändig
        för en nyckel som ska användas för kryptering och signaturverifiering.
        När ägaren har gett sitt samtycke genom att verifiera sin e-postadress
        kommer nyckeln att kunna hittas i en sökning via adress.</p>

    <h3 id="community">Community och plattform</h3>

    <p>Den här tjänsten drivs av dess community.
        Du kan prata med oss i
        #hagrid på OFTC IRC,
        också nåbar som #hagrid:stratum0.org på Matrix.
        Självklart kan du också nå oss via e-post,
        på <tt>support at keys dot openpgp dot org</tt>.
        Personerna som driver detta kommer
        från olika projekt inom OpenPGP-ekosystemet,
        inklusive Sequoia-PGP, OpenKeychain och Enigmail.</p>

    <p>Vad gäller den tekniska biten,
        så körs <span class="brand">keys.openpgp.org</span> på nyckelservermjukvaran <a href="https://gitlab.com/keys.openpgp.org/hagrid" target="_blank">Hagrid</a>,
        som baseras på <a href="https://sequoia-pgp.org">Sequoia-PGP</a>.
        Vi körs på <a href="https://eclips.is" target="_blank">eclips.is</a>,
        en hostingplattform fokuserad på projekt för frihet på internet
        och som hanteras av <a href="https://greenhost.net/" target="_blank">Greenhost</a>.</p>
</div>
{{/layout}}
