{{#> layout }}
<div class="about">
    <center><h2>Info | <a href="/about/news">Novinky</a> | Použití  | <a href="/about/faq">Časté dotazy</a> | <a href="/about/stats">Statistiky</a> | <a href="/about/privacy">Soukromí</a>
</h2></center>

    <p>Server <span class="brand">keys.openpgp.org</span> je veřejnou službou pro
distribuci a vyhledávání klíčů kompatibilních s protokolem OpenPGP, běžně
se označuje jako "keyserver".</p>

    <p><strong>Pokyny naleznete v našem <a href="/about/usage">průvodci používáním</a>.</strong></p>

    <h3>Jak to funguje</h3>

    <p>OpenPGP klíč obsahuje dva typy informací:</p>

    <ul>
<li>
<strong>Informace o identitě</strong> popisují části
klíče, které identifikují jeho vlastníka, známé také jako "ID uživatele".
ID uživatele obvykle obsahuje jméno a e-mailovou adresu.</li>
        <li>
<strong>Ne-identitní informace</strong> jsou všechny technické
informace o samotném klíči. Patří sem velká čísla
používané pro ověřování podpisů a šifrování zpráv.
Zahrnuje také metadata, jako je datum vytvoření, údaje o datumech platnosti
a stav odvolání.</li>
    </ul>
<p>Tyto informace byly vždy tradičně distribuovány.
společně. Na <span class="brand">keys.openpgp.org</span> se s nimi
zachází jinak. Zatímco kdokoli může nahrát všechny části libovolného klíče OpenPGP.
na <span class="brand">keys.openpgp.org</span>, náš keyserver
bude uchovávat a zveřejňovat pouze určité části za určitých
podmínek:</p>

    <p>Veškeré informace <strong>ne-identitní údaje</strong> budou uloženy a volně
přístupné, pokud projdou kryptografickou kontrolou integrity.
Tyto části si může kdokoli kdykoli stáhnout, protože obsahují pouze
technické údaje, které nelze použít k přímé identifikaci osoby.
Dobrý OpenPGP software může používat <span class="brand">keys.openpgp.org</span>
k aktualizaci těchto informací pro každý klíč, o kterém ví.
To pomáhá uživatelům OpenPGP udržovat bezpečnou a spolehlivou komunikaci.</p>

    <p><strong>Informace o identitě</strong> v klíči OpenPGP
se šíří pouze se souhlasem.
Obsahují osobní údaje a nejsou nezbytně nutné pro
klíč použít pro šifrování nebo ověření podpisu.
Jakmile vlastník udělí souhlas ověřením své e-mailové adresy,
lze klíč najít pomocí vyhledávání podle adresy.</p>

    <h3 id="community">Komunita a platforma</h3>

    <p>Tato služba je provozována komunitou.
Mluvit s námi můžete v #hagrid na OFTC IRC,
nebo jsem dostupní jako #hagrid:stratum0.org na Matrix.
Samozřejmě se s námi můžete spojit také prostřednictvím e-mailu,
na adrese <tt>support zavináč keys tečka openpgp tečka org</tt>.
Lidé, kteří službu provozují, přicházejí
z různých projektů v ekosystému OpenPGP,
včetně Sequoia-PGP, OpenKeychain a Enigmail.</p>

    <p>Technicky
je <span class="brand">keys.openpgp.org</span> provozován na keyserver softwaru <a href="https://gitlab.com/keys.openpgp.org/hagrid" target="_blank">Hagrid</a>,
který je založen na <a href="https://sequoia-pgp.org">Sequoia-PGP</a>.
Běžíme na <a href="https://eclips.is" target="_blank">eclips.is</a>, hostingové platformě zaměřené na Internet Freedom projekty, tu spravuje <a href="https://greenhost.net/" target="_blank">Greenhost</a>.</p>
</div>
{{/layout}}
