{{#> layout }}
<div class="about">
    <center><h2>
<a href="/about">Info</a> | <a href="/about/news">Novinky</a> | <a href="/about/usage">Pou쬴t칤</a>  | <a href="/about/faq">캛ast칠 dotazy</a> | Statistiky | <a href="/about/privacy">Soukrom칤</a>
</h2></center>

    <h3>Ov캩콏en칠 emailov칠 adresy</h3>

    <p>Jednoduch치 statistika celkov칠ho po캜tu aktu치ln캩 ov캩콏en칳ch e-mailov칳ch adres. 游늳</p>

    <p>
      </p>
<center><img src="/about/stats/month.png"></center>
    
    <p>
      </p>
<center><img src="/about/stats/year.png"></center>
    

    <h3>Pr콢m캩rn치 z치t캩</h3>

    <p>"Pr콢m캩rn치 z치t캩" serveru je statistick칳 칰daj o jeho vyt칤쬰nosti. Jednodu코e 콏e캜eno:</p>
<ul>
<li>0.0 znamen치, 쬰 server <span class="brand">keys.openpgp.org</span> je zcela ne캜inn칳</li>
        <li>1.0 znamen치, 쬰 je pom캩rn캩 zanepr치zdn캩n칳</li>
        <li>4.0 a v칤ce znamen치, 쬰 fakt mak치 游댠</li>
      </ul>
<p>
      </p>
<center><img src="/about/stats/load_week.png"></center>
    
</div>
{{/layout}}
