{{#> layout }}
<div class="about">
    <center><h2>
<a href="/about">Om</a> | <a href="/about/news">Nyheter</a> | <a href="/about/usage">Bruk</a> | <a href="/about/faq">Ofte stilte sp칮rsm친l</a> | Statistikk | <a href="/about/privacy">Personvern</a>
</h2></center>

    <h3>Bekreftede e-postadresser</h3>

    <p>En enkel statistikk som viser hvor mange e-postadresser som er bekreftede for 칮yeblikket. 游늳</p>

    <p>
      </p>
<center><img src="/about/stats/month.png"></center>
    
    <p>
      </p>
<center><img src="/about/stats/year.png"></center>
    

    <h3>Snittbelastning</h3>

    <p>Snittbelastningen er et m친l p친 hvor trafikkert tjeneren er. Kort sagt betyr:</p>
<ul>
<li>0,0 at tjeneren <span class="brand">keys.openpgp.org</span> er fullstendig ledig</li>
        <li>1,0 at tjeneren er ganske trafikkert</li>
        <li>4,0 og h칮yere at tjeneren g친r s친 det suser 游눧</li>
      </ul>
<p>
      </p>
<center><img src="/about/stats/load_week.png"></center>
    
</div>
{{/layout}}
