{{#> layout }}
<div class="about">
    <center><h2>
<a href="/about">Acerca</a> | <a href="/about/news">Noticias</a> | <a href="/about/usage">C칩mo usar</a> | <a href="/about/faq">FAQ</a> | Estad칤sticas | <a href="/about/privacy">Privacidad</a>
</h2></center>

    <h3>Correos electr칩nicos verificados</h3>

    <p>Una estad칤stica sencilla del n칰mero total de correos electr칩nicos que est치n verificados actualmente.  游늳</p>

    <p>
      </p>
<center></center>
    
    <p>
      </p>
<center></center>
    

    <h3>Promedio de Carga</h3>

    <p>El "promedio de carga" de un servidor es una estad칤stica de que tan ocupado sea. En pocas palabras:</p>
<ul>
<li>0.0 significa que el servidor de <span class="brand">keys.openpgp.org</span> est치 completamente inactivo </li>
        <li>1.0 es bastante atareado</li>
        <li>4.0 y arriba significan que est치 en llamas 游댠</li>
      </ul>
<p>
      </p>
<center></center>
    
</div>
{{/layout}}
