{{#> layout }}
<div class="about">
    <center><h2>‫حول | <a href="/about/news">اﻷخبار</a> | <a href="/about/usage">الاستخدام</a> | <a href="/about/faq">اﻷسئلة الشائعة</a> | <a href="/about/stats">اﻹحصاءات</a> | <a href="/about/privacy">حماية البيانات‬</a>
</h2></center>

    <p>‫إن الخادم <span class="brand">keys.openpgp.org</span> هو خدمة عمومية لتوزيع المفاتيح المتوافقة مع معيار OpenPGP، وكذا العثور عليها. و يُصطلَح عليه بـ « خادم المفاتيح ».‬</p>

    <p><strong>يمكنك الاطلاع على تعليمات الاستخدام موجودة في <a href="/about/usage">دليلنا</a>.‏</strong></p>

    <h3>كيفية الاشتغال</h3>

    <p>‫يتكون مفتاح OpenPGP من صنفين من المعلومات :‬</p>

    <ul>
<li>‫<strong>معلومات الهوية</strong> هي أجزاء المفتاح التي توضح هوية المالك، والتي يُصطلَح عليها بـ « مُعرِّف المستخدم ». يحتوي مُعرِّف المستخدم في الغالب على اسم وعنوان للبريد الإلكتروني.‬</li>
        <li>‫<strong>معلومات لا تُحدد الهوية</strong>، وهي ذات طبيعة تقنية، متعلقة بالمفتاح نفسه. تتضمن اﻷعداد الهائلة المُستخدَمة في التحقق من التوقيعات وتعمية الرسائل. كما تتضمن أيضا بيانات وصفية، مثل تاريخ إنشاء المفتاح وتواريخ انتهاء الصلاحية، وحالة بطلانه من عدمها.‬</li>
    </ul>
<p>‫جرت العادة دائما أن تُوزَّع المعلومات كلها معا. لكن في <span class="brand">keys.openpgp.org</span> اﻷمر مختلف، ومعالجتها كذلك. على الرغم أنه من الممكن رفع كل أجزاء مفتاح OpenPGP إلى <span class="brand">keys.openpgp.org</span>، إلا أن خادم مفاتيحنا يحتفظ فقط ببعض اﻷجزاء ولا ينشر إلا بعضها وفق شروط محددة :‬</p>

    <p>‫ستُخزَّن وتُوزَّع كل <strong>المعلومات التي لا تحدد الهوية</strong> بحرية، شرط استيفاء التحقق من سلامة محتواها. يمكن لأي كان تنزيل هذه الأجزاء في أي وقت، لأنها تحتوي فقط على بيانات تقنية، كما لن يكون بالإمكان استخدامها لتحديد هوية شخص ما. إن برامج OpenPGP الجيدة تستخدم <span class="brand">keys.openpgp.org</span> لتحديث هذه المعلومات دائما لكل المفاتيح التي تعرفها. هذا يسمح لمستخدمي OpenPGP بالحفاظ على أمان ومصداقية اتصالاتهم.‬</p>

    <p>‫تُوزَّع <strong>معلومات الهوية</strong> لمفتاح OpenPGP فقط عند الموافقة على ذلك، لأنها تحتوي على بيانات شخصية، إذ لا يلزم بالضرورة تماما استخدامها مع المفتاح للتعمية وللتوقيع. حالما يوافق المستخدم، سوف يصبح العثور على مفتاحه ممكنا عند البحث عنه عبر عنوان بريده اﻹلكتروني.‬</p>

    <h3 id="community">المجتمع والمنصة</h3>

    <p>‫هذه الخدمة تشتغل بفضل مجهودات مجتمعية. يمكنك التواصل معنا في قناة ‎#hagrid على خادم المحادثات Freenode، وكذا ‎#hagrid:stratum0.org المُشغَّل بواسطة Matrix. كما يمكنك أيضا الاتصال بنا بالبريد اﻹلكتروني عبر العنوان <tt>support في keys نقطة openpgp نقطة org</tt>. إن كل من يساهم في تشغيل هذه الخدمة أتوا من مشاريع مختلفة بما في ذلك OpenPGP وبالذات Sequoia-PGP، و OpenKeychain و Enigmail.‬</p>

    <p>‫من الناحية التقنية، يعمل <span class="brand">keys.openpgp.org</span> اعتمادا على برنامج خادم المفاتيح <a href="https://gitlab.com/keys.openpgp.org/hagrid" target="_blank">Hagrid</a>، المبني على <a href="https://sequoia-pgp.org">Sequoia-PGP</a>. كما أننا نستخدم منصة الاستضافة <a href="https://eclips.is" target="_blank">eclips.js</a> الداعمة للحرية عبر الانترنت، والتي يُديرها موقع <a href="https://greenhost.net/" target="_blank">Greenhost</a>.</p>
</div>
{{/layout}}
