{{#> layout }}
<div class="about">
    <center><h2>โซ<a href="/about">ุญูู</a> | ุง๏ปทุฎุจุงุฑ | <a href="/about/usage">ุงูุงุณุชุฎุฏุงู</a> | ุง๏ปทุณุฆูุฉ ุงูุดุงุฆุนุฉ | <a href="/about/stats">ุง๏ปนุญุตุงุกุงุช</a> | ุญูุงูุฉ ุงูุจูุงูุงุช<a href="/about/privacy">โฌ</a>
</h2></center>

    <h2 id="2019-11-12-celebrating-100k">
      <div style="float: right; font-size: small; line-height: 2em;">2019-11-12 ๐</div>
      โซ<a style="color: black;" href="/about/news#2019-11-12-celebrating-100k">ูุญุชูู ุจุชุญูููููุง ูู โช100โ 000โฌ ุนููุงู ! ๐</a>โฌ
    </h2>

    <p>ููุฐ ุฎูุณุฉ ุฃุดูุฑุ ูููุง ุจุชุดุบูู ูุฐู ุงูุฎุฏูุฉ. ููุฏ ูุตููุง ุงูููู ุฅูู ูุฑุญูุฉ ูุชูุฏูุฉ :โ</p>
<center style="margin-top: 2em; margin-bottom: 2em;">
<img src="/assets/img/stats-addresses-2019-11-12.png" style="padding: 1px; border: 1px solid gray;"><br><strong>ุชุญูููุง ูู ูุงุฆุฉ ุฃูู ุนููุงู ููุจุฑูุฏ ุง๏ปนููุชุฑููู !โ</strong>
</center>

    <p>ุฅููุง ูุชูุฏู ุจุงูุดูุฑ ููู ูู ูุณุชุนูู ูุฐู ุงูุฎุฏูุฉ ! ููุฎุต ุจุงูุซูุงุก ุฌููุน ูู ุฒูุฏููุง ุจููุงุญุธุงุชููุ ูุชุฑุฌูุงุชููุ ูุฃูุถุง ุงูุฐูู ุณุงูููุง ูู ุจุฑูุฌุฉ ุงูุชุทุจูู !โ</p>
<p>ุฅููู ุจุนุถ ุงูุชุญุฏูุซุงุช ุงูุชู ูุนูู ุนูููุง :โ</p>
<ul>
<li>โซููุฏ ุฃุตุจุญุช ูุฐู ุงูุตูุญุฉ ูุชุงุญุฉ ุจุตูุบุฉ <strong><a target="_blank" href="/atom.xml">ุชููููุงุช Atom<img src="/assets/img/atom.svg" style="height: 0.8em;"></a></strong>.โฌ</li>
        <li>ููุง ูุนูู ุนูู ุฅูุดุงุก <strong><a target="_blank" href="https://gitlab.com/keys.openpgp.org/hagrid/issues/131">ุชูููุฉ ุฌุฏูุฏุฉ ูุฅูุนุงุด ุงูููุงุชูุญ</a></strong> ุชููู ุฃูุถู ุญูุงูุฉ ูุฎุตูุตูุฉ ุงููุณุชุฎุฏู.โ</li>
        <li>ุฅู ููุงุตูุฉ <strong>ุงูุชูุทูู</strong> ุชุชู ุจุฃูุตู ุฌูุฏูุง ! ูุฑุฌู ุฃู ุชุชููุฑ ูุบุงุช ุฃุฎุฑู ูู ุงููุฑูุจ ุงูุนุงุฌู.โ</li>
    </ul>
<p>โซุฅุฐุง ุฑุบุจุช ูู ุฑุคูุฉ <span class="brand">keys.openpgp.org</span> ูุชุฑุฌูุง ุฅูู ูุบุชู ุง๏ปทู. ููุฑุฌู <a target="_blank" href="https://www.transifex.com/otf/hagrid/">ุงูุงูุถูุงู ุฅูู ูุฑูู ุงูุชุฑุฌูุฉ</a> ูู ูููุน Transifex. ููุฏุฑ ุจุงูุฃุณุงุณ ูุณุงุนุฏุชู ููุง ุนูู ุงูุชุฑุฌูุฉุ ูุฎุงุตุฉ ุฅูู <strong>ุงูุฑูุณูุฉ</strong> ู<strong>ุง๏ปนูุทุงููุฉ</strong> ู<strong>ุงูุจูููููุฉ</strong> ู<strong>ุงูููููุฏูุฉ</strong>.โฌ</p>
<p>โซูุฐุง ูุง ูุฏููุง ูู ุง๏ปทุฎุจุงุฑ ุงููููุฌูุฒุฉ. <span style="font-size: x-large;">๐๏ธ</span></p>
<hr style="margin-top: 2em; margin-bottom: 2em;">
<h2 id="2019-09-12-three-months-later">
      <div style="float: right; font-size: small; line-height: 2em;">2019-09-12 ๐</div>
      <a style="color: black;" href="/about/news#2019-09-12-three-months-later">โซุจุนุฏ ุซูุงุซุฉ ุฃุดูุฑ ูู ุงูุฎุฏูุฉ โจ</a>
    </h2>

    <p>โซููุฏ ูุถุช ุซูุงุซุฉ ุฃุดูุฑ ุงูุขู ููุฐ <a href="/about/news#2019-06-12-launch">ุชุดุบูู</a> ูููุน <span class="brand">keys.openpgp.org</span>. ูุฐููุ ููุญู ุณุนุฏุงุก ุจุฅุฎุจุงุฑู ุฃู ุฎุฏูุชูุง ูุงูุช ูุฌุงุญุง ูุงุณุนุง ! ๐ฅณ</p>
<h4>ุชุจููููู ูู ุงูุจุฑุงูุฌ ุงูุนูููุฉ</h4>

    <p>โซโซููุฏ ูุงูู ุฎุงุฏู ููุงุชูุญ <span class="brand">keys.openpgp.org</span> ุฅูุจุงูุง ูุงุณุนุง ูู ุทุฑู ุงููุณุชุฎุฏูููุ ูุฐูู ุชุจูููุชู ุนุฏุฉ ุจุฑุงูุฌ ุนูููุฉ ุจุณุฑุนุฉ. ููู ููุณุชุฎุฏูู ุญุงููุง ุจุดูู ุงูุชุฑุงุถู ูู ุนููุงุกุ ูุซู <a href="https://gpgtools.org/" target="_blank">GPGTools</a> ู<a href="https://enigmail.net/" target="_blank">Enigmail</a> ู<a href="https://www.openkeychain.org/" target="_blank">OpenKeychain</a> ู<a href="https://github.com/firstlookmedia/gpgsync" target="_blank">GPGSync</a> ูุฃูุธูุฉ Debian ูNixOS ูุบูุฑูุง.</p>
<p>โซุฅูู ุญุฏูุฏ ูุชุงุจุฉ ูุฐู ุงูุณุทูุฑุ ุชุญูููุง ูู ุฃูุซุฑ ูู โช70 000โฌ ุนููุงู ููุจุฑูุฏ ุง๏ปนููุชุฑููู.</p>
<center style="margin-top: 2em; margin-bottom: 2em;">
<img src="/assets/img/stats-addresses-2019-09-12.png" style="padding: 1px; border: 1px solid gray;"><br><span style="font-size: smaller;">ุฅุฐุง ูู ููู ููุญูู ูุงุนุฏุงุ ููุง ุฃุฏุฑู ููู ุฃููุนู ุจุงูุนูุณ :)โ</span>
</center>

    <p>โซููุง ูุง ููุณู ุฃู ููุฏู ุงูุชูุงูู ุงูุญุงุฑุฉ ููุฑูู ุจุฑูุงูุฌ GPGTools ููุธุงู ุชุดุบูู ููุงูู. ููุฏ ูุธููุง ุนูููุฉ ุงูุชุญุฏูุซ ุจุทุฑููุฉ ุณูุณุฉุ ูููููุช ุงูุชุญูู ูู ูู ูุงุฆู ูู ุงูุนูุงููู ุง๏ปนููุชุฑูููุฉุ ุจุนุฏ ูุดุฑูู ุงูุชุญุฏูุซ ูุจุฑูุงูุฌูู.</p>
<h4>ูู ุดูุก ูุณูุฑ ุจุฎูุฑ</h4>

    <p>ูุง ููุฌุฏ ุงููุซูุฑ ููุง ูุชู ุง๏ปนุจูุงุบ ุนูู ุญูู ุนูููุงุช ุงุดุชุบุงูุ ููุง ุฐุงู ุฅูุง ุจุงูุฎุจุฑ ุงูุฌูุฏ ูู ูุฐู ุงูุญุงูุฉ ! ูููุฐ ุงูุทูุงู ุงููููุนุ ูู ูุญุฏุซ ุฃู ุชููู ูุงุญุฏ ุนู ุงูุนููุ ููุท ุนูุฉ ุทูููุฉ ุญุฏุซุช ูููุช ูุฌูุฒ ุฃุฏุช ุฅูู ุจุนุถ ุงูุชุนุซุฑุงุช ุฎูุงู ุงูุฑูุน. ููุง ุฃู ุณุนุฉ ุงูุงุณุชูุนุงุจ ุจููุช ููุฎูุถุฉ.โ</p>
<p>โซุฅู ุญุฌู ุงูููุงุตูุงุช ูุน ุฎุงุฏููุง ุชููุฏููุฑ ุญุงููุง ุจุนุดุฑุฉ ุทูุจุงุช ูู ุงูุซุงููุฉ (ุชุฒูุฏ ุฎูุงู ุงูููุงุฑุ ูุชููุต ุฎูุงู ุนุทู ููุงูุฉ ุง๏ปทุณุจูุน)ุ ููุง ุฃููุง ุฃูุตููุง ูุง ููุงุฑุจโช100 000 โฌ ุฑุณุงูุฉ ุฅููุชุฑูููุฉ ุฎูุงู ุงูุดูุฑ ุงููุงุถูุ ุฏูู ุฃู ูุดุงูู. </p>
<p>โซููุฏ ุฃุฏุฎููุง ุจุนุถ ุงูุชุญุณููุงุช ุงูุทูููุฉ ุฐุงุช ุงูุจุนุฏ ุงูุนูููุงุชูุ ุจูุง ูู ุฐูู ุชุนููู ุงูุนูู ุจู <a href="http://dnsviz.net/d/keys.openpgp.org/dnssec/" target="_blank">DNSSEC</a> ูุชุทุจูู <a href="/about/api#rate-limiting" target="_blank">ุงูุญุฏ ูู ุงูุตุจูุจ</a>ุ ูุฅุถุงูุฉ ููุณุงุช ููุงุฆูุฉ ุนูู ุชุฑููุณุงุช <a href="https://developer.mozilla.org/fr/docs/Web/HTTP/CSP">ุณูุงุณุงุช ุฃูุงู ุงููุญุชูู</a>. ููุง ุฃููุง ูููุง ุจุชูุนูู ูุถุน <a href="https://blog.torproject.org/whats-new-tor-0298" target="_blank">ุงูููุฒุฉ ุงููุญูุฏุฉ</a> ูุฃุฌู ุฎุฏูุฉ ุงูุจุตูุฉ ูู ุชููุฑู. ููุงู ูุงุฆุญุฉ ูุงููุฉ ููู ุฐูู <a href="https://gitlab.com/keys.openpgp.org/hagrid/merge_requests?scope=all&amp;utf8=%E2%9C%93&amp;state=merged" target="_blank">ููุง</a>.</p>
<h4>โซุชูุตูู ุงูุฑุณุงุฆู ุง๏ปนููุชุฑูููุฉ ุจุฃูุงู ุนุจุฑ MTA-STSโ</h4>

    <p>โซูู ุฃูู ุงูุชุญุณููุงุช ุงูุชู ูุฌุฏุฑ ููุช ุงูุงูุชุจุงู ุฅูููุง ูู <a href="https://www.hardenize.com/blog/mta-sts">MTA-STS</a>ุ ุงูุฐู ููุฌูููุฏ ูู ุฃูุงู ุงูุฑุณุงุฆู ุง๏ปนููุชุฑูููุฉ ุงูุตุงุฏุฑุฉ.</p>
<p>โซุนูู ุงูุฑุบู ูู ุณุนุฉ ุงูุชุดุงุฑ HTTPS ุนุงูููุง ูู ุนุตุฑูุง ูุฐุงุ ุฅูุง ุฃู ุง๏ปทูุฑ ูุน ุง๏ปทุณู ูุง ููุทุจู ุนูู ุงูุฑุณุงุฆู ุง๏ปนููุชุฑูููุฉุ ูุฐูู ูุฃู ุนุฏุฉ ุฎูุงุฏู ูุง ุชุฏุนู ุงูุชุนููุฉ ุจุงููุฑุฉุ ุฃู ุฃููุง ุชุณุชุฎุฏู ุดูุงุฏุงุช ุฐุงุชูุฉ ุงูุชูููุน ุจุฏู ุดูุงุฏุฉ ููุนุชุฑูู ุจูุง (ูุดูุงุฏุงุช Let's Encrypt). ูุจูุง ุฃู ุชูุตูู ุงูุฑุณุงุฆู ูู ูุง ููู ุงููุณุชุฎุฏููู ุฃูุซุฑ ูู ููุฉ ุฃูุงููุงุ ูุฅู ุงูุนุฏูุฏ ูู ุงูุฑุณุงุฆู ูุง ุชุฒุงู ุชูุณูููู ุฏูู ุฃู ุชุนููุฉ.</p>
<p>โซุจูุถู MTA-STSุ ูููู ุฃู ูุญุฏุฏ ุงููููููู ุจุงููุทุงูุงุช (ุนุจุฑ HTTPS) ุฃู ุฎุงุฏููู ูุนูุจ ุงูุฑุณุงุฆู ุง๏ปนููุชุฑูููุฉ <em>ูุฏุนู</em> ุงูุชุนููุฉ. ูุนูุฏ ุชุนุฐููุฑ ุฑุจุท ุงุชุตุงู ุขูู ูุน ูุฐุง ุงูุตูู ูู ุงูุฎูุงุฏูุ ุณูู ููุคุฌููู ุฅูุตุงู ุงูุฑุณุงุฆูุ ุฃู ูุฏ ููุฑููุถ ุฐููุ ุจุฏู ูุนุงูุฌุชูุง ุจุทุฑููุฉ ุบูุฑ ุขููุฉ.</p>
<p>โซูุฐุง ุง๏ปทูุฑ ูู ุบุงูุฉ ุง๏ปทูููุฉ ุจุงููุณุจุฉ ูุฎุฏูุฉ ูุซู <span class="brand">keys.openpgp.org</span>. ุฅุฐ ูู ูุงูุช ุงูุชุนููุฉ ุบูุฑ ูุชููุฉุ ููููู ููุฃุนุฏุงุก ุงุนุชุฑุงุถ ุฑุณุงุฆู ุงูุชุญูู ุจูู ุณูููุฉ. ููู ุฅุฐุง ูุงูุช ููุฒุฉ MTA-STS ููุดุบูููุฉ ุนูุฏ ูุฒูุฏู ุงูุฎุฏูุฉุ ุณุชููู ูุฏูู ุงูุซูุฉ ุจุฃู ุชูุตูู ูู ุฑุณุงูุฉ ูุชู ุจุฃูุงูุ ูุญู ุงูุฎุงุฏู ุงูุตุญูุญ ูุนูุจ ุงูุฑุณุงุฆู ุง๏ปนููุชุฑูููุฉ.</p>
<p>โซููููู <a href="https://aykevl.nl/apps/mta-sts/" target="_blank">ุงูููุงู ุจุนูููุฉ ุงููุฑุงูุจุฉ</a> ูููุดู ุนู ุฏุนู ุฎุฏูุฉ ุจุฑูุฏู ุง๏ปนููุชุฑููู ูููุฒุฉ MTA-STS. ุฅุฐุง ูู ููู ุง๏ปทูุฑ ูุฐููุ ููุฑุฌู ุฅุฑุณุงู ุทูุจ ูุฑูุน ูุณุชูู ุงูุฃูุงู ุฅูู ูุฒูุฏ ุงูุฎุฏูุฉ ุงูุฎุงุต ุจู !</p>
<h4>ุฃุดุบุงู ูู ุทูุฑ ุง๏ปนูุฌุงุฒ</h4>

    <p>ูุนูู ุญุงููุง ุนูู ููุฒุชูู :โ</p>
<p>โซุฃููุงูุง ูู <strong>ุงูุชูุทูู</strong>. ุฅุฐ ุฃู ุบุงูุจูุฉ ุงููุงุณ ูุง ูุชุญุฏุซูู ุง๏ปนูุฌููุฒูุฉุ ููููุง ูู ุงููุบุฉ ุงููุญูุฏุฉ ุงููุฏุนููุฉ ุญุงููุง. ูููู ูุฌุนู ูุฐู ุงูุฎุฏูุฉ ูุชุงุญุฉ ุนูู ูุทุงู ูุงุณุนุ ููุญู ูุชุนุงูู ูุน <a href="https://www.opentech.fund/labs/localization-lab/" target="_blank">ูุฎุชุจุฑุงุช ุงูุชูุทูู</a> ูููุธูุฉ OTF ูุฌุนู ูู ูู ุงููููุน ูุงูุฑุณุงุฆู ุงูููุฑุณููุฉ ูุชุงุญุฉ ุจุงูุนุฏูุฏ ูู ุงููุบุงุช ุง๏ปทุฎุฑู.</p>
<p>โซุซุงูููุง ูู ุฅุญุถุงุฑ <strong>ุชูููุนุงุช ุง๏ปทุทุฑุงู ุง๏ปทุฎุฑู</strong>. ููุง ูู <a href="/about/faq#third-party-signatures">ููุดุงุฑ ุฅููู ูู ุตูุญุฉ ุง๏ปทุณุฆูุฉ ุงูุดุงุฆุนุฉ</a>ุ ููููุง ูุง ูุฏุนููุง ุญุงููุง ุจุณุจุจ ุงูุฑุณุงุฆู ุงููุฒุนุฌุฉ ูุชูุงุฏูุง ูุฃู ุงุณุชุบูุงู ุณูุก. ุงูููุฑุฉ ูู ุงูุฅุฌุจุงุฑ ุนูู <a href="https://gitlab.com/openpgp-wg/rfc4880bis/merge_requests/20/diffs" target="_blank">ุงูุชูููุนุงุช ุงููุชูุงุทุนุฉ</a>ุ ูุงูุชู ุชุณูุญ ููู ููุชุงุญุ ุงูุงุฎุชูุงุฑ ูุฐุงุชู ุชูููุนุงุช ุง๏ปทุดุฎุงุต ุงูุชู ูุฑูุฏ ุชูุฒูุนูุง. ุนูู ุงูุฑุบู ูู ูุฐู ุงููุฑุญูุฉ ุง๏ปนุถุงููุฉุ ุฅูุง ุฃู ูุฐู ุงูุนูููุฉ ูุชูุงููุฉ ูุน ุงูุจุฑุงูุฌ ุงูููุฌูุฏุฉ ุญุงููุง. ููุง ุฃููุง ุชุชูุงุฏู ุงููุณุชุฎุฏููู ุงูุฐูู ูุง ูุจุงููู ุจุงูุชูููุนุงุช.</p>
<p>ุนูู ุงูุฑุบู ูู ุงูุชูุฏู ูู ุงูุนูู ุนูู ูุงุชูู ุงูููุฒุชููุ ุฅูุง ุฃูู ูู ููุจุฑููุฌ ุชุงุฑูุฎ ูุดุฑููุง ูู ุงูููุช ุงูุญุงูู.โ</p>
<p>โซุฃูุง ูุง ูุชุนูู ุจูุดููุฉ ยซ <tt>no user ID</tt> ยป (ุงููุฐููุฑุฉ ูู <a href="/about/news#2019-06-12-launch-challenges">ููุดูุฑ ุขุฎุฑ ุงูุฃุฎุจุงุฑ</a> ูุตูุญุชูุง <a href="/about/faq#older-gnupg" target="_blank">ููุฃุณุฆูุฉ ุงูุดุงุฆุนุฉ</a>)ุ ูุฅู Debian ุชููุช ุชูููุฑ ุชุตุญูุญ ูููุดููุ ูุฃูุถุง ูุฑูู GPGTools ููุธุงู ุชุดุบูู ููุงูู. ููู ุฅูู ุญุฏ ุงูุณุงุนุฉ ูู ููู ูุฑูู GnuPG ุจุฏูุฌ ุฐูู ุงูุชุตุญูุญ ูู ุจุฑูุงูุฌูู.</p>
<p>โซูุฐุง ูู ุดูุก ! ูุดูุฑู ุนูู ุญุณู ุงูุชูุงูู. <span style="font-size: x-large;">๐</span></p>
<hr style="margin-top: 2em; margin-bottom: 2em;">
<h2 id="2019-06-12-launch">
      <div style="float: right; font-size: small; line-height: 2em;">2019-06-12 ๐</div>
      <a href="/about/news#2019-06-12-launch" style="color: black;">ููุฏ ุดุบููููุง ุฎุงุฏูุง ุฌุฏูุฏุง ููููุงุชูุญ ! ๐โ</a>
    </h2>

    <p>โซุจูุถู ูุฌููุฏุงุช ูุฑูู ุนูู ูู ูู <a href="https://enigmail.net" target="_blank">Enigmail</a> ู<a href="https://openkeychain.org" target="_blank">OpenKeychain</a> ู<a href="https://sequoia-pgp.org">Sequoia PGP</a>ุ ููุญู ูุณุฑูุฑูู ุจุง๏ปนุนูุงู ุนู ุชุดุบูู ุฎุงุฏู OpenPGP ุฌุฏูุฏ ููููุงุชูุญ ุงูุนููููุฉ <span class="brand">keys.openpgp.org</span> ! ูุฑุญู ! ๐</p>
<h4>ุฃุฎุจุฑูู ุจุงุฎุชุตุงุฑ !โ</h4>

    <ul>
<li>ุณุฑูุน ูููุซูู. ูุง ุงูุชุธุงุฑุงุช ููุง ุฃุนุทุงู ููุง ุฃู ุชุถุงุฑุจุงุช ูู ุงูุจูุงูุงุช.โ</li>
      <li>ุฏููู. ุชูุธููุฑ ูุชุงุฆุฌ ุงูุจุญุซ ููุชุงุญุง ูููุฑุฏุงุ ููุง ููุณูููู ุนููู ุงูุนุซูุฑ ุนููู.โ</li>
      <li>ุงููุฏุฑุฉ ุนูู ุงูุชุญูู. ูุง ููุดุฑ ุงููููุงุช ุฅูุง ุจุนุฏ ุงูููุงููุฉ ุนูู ุฐููุ ุจูููุง ูุชูุญ ุงููุตูู ุจูู ุญุฑูุฉ ูุจููุฉ ุงููุนูููุงุช ุงูุชู ูุง ุชุฑุชุจุท ุจุงููููุฉ.โ</li>
      <li>ูุงุจููุฉ ุงูุญุฐู. ูููู ูููุณุชุฎุฏููู ุญุฐู ุงููุนูููุงุช ุงูุดุฎุตูุฉ ููุท ุจูุงุณุทุฉ ุฑุณุงูุฉ ุชุฃููุฏ.โ</li>
      <li>โซููุจุฑููุฌ ุจูุบุฉ Rustุ ุจุฏุนู ูู <a href="https://sequoia-pgp.org" target="_blank">Sequoia PGP</a> - ูุฌุงูู ูููุชูุญ ุงููุตุฏุฑุ ุจููุฌุจ ุง๏ปนุตุฏุงุฑ ุงูุซุงูุซ ูู ุงูุฑุฎุตุฉ ุฌูููู ุฃููููุฑูู ุงูุนููููุฉ AGPLv3.</li>
    </ul>

    ููููู ุงูุจุฏุก ุง๏ปตู ุจ<a href="/upload">ุฑูุน ููุชุงุญู</a> !โ

    <h4>ูููู ุงูุญุงุฌุฉ ุฅูู ุฎุงุฏู ุฌุฏูุฏ ููููุงุชูุญ ุ</h4>

    <p>โซููุฏ ุฃูุดุฃูุง <span class="brand">keys.openpgp.org</span> ูุจุฏูู ุนู ุฎูุงุฏู ุงูููุงุชูุญ SKSุ ูุงูุชู ุชุณุชุฎุฏููุง ุญุงููุง ุนุฏุฉ ุชุทุจููุงุช ุจุดูู ุงูุชุฑุงุถู. ุชูุงุฌู ุดุจูุฉ ุฎูุงุฏู ุงูููุงุชูุญ ุงููููุฒููุนุฉ ูุฐูุ ุนุฏุฉ ูุดุงููุ ูู ุจูููุง <a target="_blank" href="https://medium.com/@mdrahony/are-sks-keyservers-safe-do-we-need-them-7056b495101c">ุฅุณุงุกุฉ ุงูุงุณุชุฎุฏุงู</a> ู<a target="_blank" href="https://en.wikipedia.org/wiki/Key_server_(cryptographic)#Problems_with_keyservers">ุง๏ปทุฏุงุก</a> ููุฐูู <a href="http://www.openwall.com/lists/oss-security/2017/12/10/1">ูุดุงูู ูู ุงูุฎุตูุตูุฉ</a>ุ ูููุฐ ููุช ูุฑูุจุ ูุณุงุฆู ุงูุงูุชุซุงู ูู<a target="_blank" href="http://nongnu.13855.n7.nabble.com/SKS-apocalypse-mitigation-td228252.html">ุงููุธุงู ุงูุฃูุฑูุจู ุงูุนุงู ูุญูุงูุฉ ุงูุจูุงูุงุช</a>. ููุฏ ูุงู Kristian Fiskerstrand ุจุนูู ุฌุจุงุฑ ูุตูุงูุฉ ุดุจูุฉ ุงูุฎูุงุฏู ูู<a target="_blank" href="https://blog.sumptuouscapital.com/2016/12/10-year-anniversary-for-sks-keyservers-net/">ูุง ูุฒูุฏ ุนู ุนุดุฑ ุณููุงุช</a>. ููู ุฅูู ูุฐู ุงููุญุธุฉุ ูุจุฏู ุฃู ุฃูุดุทุฉ ุงูุชุทููุฑ ูุฏ <a target="_blank" href="https://bitbucket.org/skskeyserver/sks-keyserver/pull-requests/60/clean-build-with-405">ุดูุฏ ุฃุบูุจูุง ุชูููุง</a>.</p>
<p>ูุฐููุ ุงุฑุชุฃููุง ุฃูู ุฃุชู ุงูููุช ููู ููุฏู ูููุฌูุฉ ุฌุฏูุฏุฉ ูุญู ุชูู ุงููุดุงูู.</p>
<h4>ุงููุนูููุงุช ุงููุงุดูุฉ ูุบูุฑ ุงููุงุดูุฉ ูููููุฉ</h4>

    <p>โซุฅู ุฎุงุฏู ุงูููุงุชูุญ <span class="brand">keys.openpgp.org</span> ูููู ุจูุตู ุงููุนูููุงุช ุงููุงุดูุฉ ูููููุฉ ุนู ุงููุนูููุงุช ุบูุฑ ุงููุงุดูุฉ ูููููุฉ ูู ุงูููุงุชูุญ. ููููู ุงูุงุทูุงุน ุนูู ุชูุงุตูู ุฃูุซุฑ ูู <a href="/about" target="_blank">ุตูุญุฉ ยซ ุญูู ยป</a> : ุฅู ุฌููุฑ ูุฐุง ุง๏ปนุฌุฑุงุก ูู ุงูุชูุฒูุน ุจูู ุญุฑูุฉ ุงููุนูููุงุช ุงูุชู ูุง ุชูุดู ุนู ุงููููุฉ (ุงูููุงุชูุญุ ุดูุงุฏุงุช ุงูููุถุ ููุง ุฅูู ุฐูู)ุ ุจูููุง ูุง ุชููุฒููุน ุงูุจูุงูุงุช ุงููุงุดูุฉ ุนู ุงููููุฉ ุฅูุง ุจุนุฏ ุงูููุงููุฉ ุนูู ุฐูู. ููุง ูููู ุงูุชุฑุงุฌุน ุนู ุชูู ุงูููุงููุฉ ูู ุฃู ููุช.</p>
<p>ุญุงููุง ููุชูู ุงูุชุญูู ูู ููุชุงุญ ููุงูู ูุนููุงู ุงูุจุฑูุฏ ุงูุฅููุชุฑูููุ ุณูู ูุนูุถ ุงูุนููุงู ุงูุณุงุจู. ุจูุฐู ุงูุทุฑููุฉุ ุณูู ูููู ูู ุนููุงู ูุฑุชุจุทุง ุจููุชุงุญ ูููุฑุฏ ุนูู ุง๏ปทูุซุฑ. ููุง ูููู ุฃูุถุง ููุงููู ุญุฐูู ูู ุงููุงุฆุญุฉุ ูู ุฃู ููุช. ูุฐูู ูููุน ูุฐุง ุง๏ปทูุฑ ูู ุงูุนุซูุฑ ุนูู ุงูููุงุชูุญ : ููู ุฃู ุฃุญุฏุง ุฃุฌุฑู ุจุญุซุง ุจุนููุงู ุงูุจุฑูุฏ ุงูุฅููุชุฑูููุ ุซู ุนุซุฑ ุนูู ููุชุงุญุ ูุฅู ูุฐุง ูุฏู ุนูู ุฃูู ููุชุงุญ ูููุฑุฏ ูุตุงูุญ ูู ุงูููุช ุงูุญุงูู ููุนููุงู ุงูุฐู ุชู ุจู ุงูุจุญุซ ุนูู.โ</p>
<h4>โซุงูุฏุนู ูู Enigmail ู OpenKeychain</h4>

    <p>โซุฅู ุฎุงุฏู ุงูููุงุชูุญ <span class="brand">keys.openpgp.org</span> ุณูุชููู ุฏุนูุง ูู ุฃุทุฑุงู ุฃุฎุฑู ุฎูุงู ุง๏ปนุตุฏุงุฑุงุช ุงููุงุฏูุฉ ูู<a href="https://enigmail.net" target="_blank">Enigmail</a> ูู Thunderbirdุ ููุฐุง <a href="https://play.google.com/store/apps/details?id=org.sufficientlysecure.keychain&amp;hl=en">OpenKeychain</a> ูู ุฃูุฏุฑููุฏ. ูุนูู ุฐููุ ุฃู ูุณุชุฎุฏูู ูุฐูู ุงูุชุทุจูููู ุณูุณุชููุฏูู ูู ุงูุชุดุงู ุงูููุงุชูุญ ูู ุฃูุฌุฒ ุง๏ปทููุงุชุ ุจูุงุณุทุฉ ุนููุงู ุงูุจุฑูุฏ ุงูุฅููุชุฑููู. ูุชููู ุฃู ููุดูููู ุฐูู ููุฉ ุฏุงูุนุฉ ููุง ูุชุทููุฑ ูุฐุง ุงููุดุฑูุนุ ููู ูุตุจุญ ูุจุงุฏุฑุฉ ุฌูุงุนูุฉ ูุงุณุนุฉ ุง๏ปตูุงู.</p>
<h4 id="2019-06-12-launch-challenges">ุงูุชุญุฏูุงุช ุงูุญุงููุฉ</h4>

    <p>ุฅู ุชูููุงุช ุญูุงูุฉ ุงูุฎุตูุตูุฉ ูู ุฎูุงุฏู ุงูููุงุชูุญ ูุงุฒุงูุช ุญุฏูุซุฉ. ููุน ุง๏ปทุณูุ ุจุณุจุจ ูุตู ูุนูููุงุช ุงููููุฉ ุนู ุจููุฉ ุงูุจูุงูุงุชุ ูุงุฒุงูุช ุชุธูุฑ ุจุนุถ ุงููุดุงูู ุงูุชู ุชุฎุงูู ูุง ูุงู ููุชูุงูููุง ุนููู.</p>
<p>โซุจุงูุฎุตูุตุ ุญูููุง ูุฌุฏ GnuPG (ุงูุฅุตุฏุงุฑ 2.2.16ุ ุฅูู ุญุฏูุฏ ูุชุงุจุฉ ูุฐู ุงูุณุทูุฑ) ููุชุงุญ OpenPGP ูุง ูุญุชูู ุนูู ุฃู ูููุฉ. ุฅุฐ ููุธููุฑ ุงูุฎุทุฃ ยซ no user ID ยป ููุง ููุงุตู ูุนุงูุฌุฉ ุงููุนูููุงุช ุงูุฌุฏูุฏุฉ ุงูุชู ูุง ุชูุดู ุนู ุงููููุฉ (ูุซู ุดูุงุฏุงุช ุงูููุถ)ุ ุนูู ุงูุฑุบู ูู ุตูุงุญูุฉ ุจูุงูุงุช ุงูุชุนููุฉ. ูููุฐุงุ ููุญู ูุนูู ุจูุงูู ุฌูุฏูุง ููู ูุตูุญ ูุฐู ุงููุดุงูู.</p>
<h4>ูู ุงููุณุชูุจู</h4>

    <p>โซุฅู ุทุฑู ุญูุงูุฉ ุงูุฎุตูุตูุฉ ูู ุฎูุงุฏู ุงูููุงุชูุญ ูุงุฒุงูุช ุญุฏูุซุฉ. ููุง ุฃู ูุฏููุง ุงูุนุฏูุฏ ูู ุง๏ปทููุงุฑ ููุชูููู ูู ุงูุจูุงูุงุช ุงููุตููุฉ. ููู ูู ุงูููุช ุงูุญุงููุ ูุฎุทุท ููุท ูุฌุนู <span class="brand">keys.openpgp.org</span> ุฃุณุฑุน ๐ ูุฃูุซุฑ ูุตุฏุงููุฉุ ููุฐุง ุชุตุญูุญ ุงูุนูู ๐ ุงูุชู ูุฌุฏูุงุ ูุฃูุถุง ุฃุฎุฐ ูู <a href="/about#community">ุงูููุงุญุธุงุช</a> ุงูุชู ุชุตููุง ูู ูุฌุชูุน ุงููุณุชุฎุฏููู ุจุนูู ุงูุงุนุชุจุงุฑ. ๐</p>
<p>ูููุฒูุฏ ูู ุงูุชูุถูุญุงุชุ ูุง ุนููู ุณูู ุงูุงุทูุงุน ุนูู ุตูุญุงุช <a target="_blank" href="/about">ุญูู</a> ูุตูุญุงุช <a target="_blank" href="/about/faq">ุง๏ปทุณุฆูุฉ ุงูุดุงุฆุนุฉ</a>. ููููู ุงูุจุฏุก ุญุงูุง ุนุจุฑ <a href="/upload" target="_blank">ุฑูุน ููุชุงุญู</a> ! ููุง ููููู ุงูุงุทูุงุน ุนูู ุฃุดูุงุก ุฃุฎุฑู ูููุฏุฉุ ูุซู <a target="_blank" href="/about/api">ูุงุฌูุฉ ุจุฑูุฌุชูุง ููุชุทุจููุงุช</a> ููุฐุง <a target="_blank" href="/about/faq#tor">ุฎุฏูุฉ ุงูุจุตูุฉ</a> !โ</p>
<p>ุชูุชุน ุจุงูุฎุฏูุฉ !โ
<span style="font-size: x-large;">โ๐ต</span></p>
</div>
{{/layout}}
