{{#> layout }}
<div class="about">
    <center><h2>
<a href="/about">โซุญูู</a> | <a href="/about/news">ุง๏ปทุฎุจุงุฑ</a> | <a href="/about/usage">ุงูุงุณุชุฎุฏุงู</a> | <a href="/about/faq">ุง๏ปทุณุฆูุฉ ุงูุดุงุฆุนุฉ</a> | ุง๏ปนุญุตุงุกุงุช | <a href="/about/privacy">ุญูุงูุฉ ุงูุจูุงูุงุชโฌ</a>
</h2></center>

    <h3>ุนูุงููู ุงูุจุฑูุฏ ุงูุฅููุชุฑููู ุงูููุชุญูููู ูููุง</h3>

    <p>ุฅุญุตุงุก ุจุณูุท ููุนุฏุฏ ุง๏ปนุฌูุงูู ููุนูุงููู ุง๏ปนููุชุฑูููุฉ ุงูุชู ุชู ุงูุชุญูู ูููุง ุญุงููุง. ๐</p>

    <p>
      </p>
<center><img src="/about/stats/month.png"></center>
    
    <p>
      </p>
<center><img src="/about/stats/year.png"></center>
    

    <h3>ูุชูุณุท ุงูุญูููุฉ</h3>

    <p>ูุนุจููุฑ ยซ ูุชูุณุท ุงูุญูููุฉ ยป ุนู ูุณุชูู ุงุดุชุบุงูู. ุจุชุนุจูุฑ ุฃุจุณุท :โ</p>
<ul>
<li>โซุงูููุฏุงุฑ 0.0 ูุนูู ุฃู ูุถูู <span class="brand">keys.openpgp.org</span> ุฎุงูู ุจุงููุงููโฌ</li>
        <li>โซุงูููุฏุงุฑ 1.0 ูุนูู ุฃูู ูุดุบูู ุฅูู ุญุฏ ูุง</li>
        <li>โซุฃูุง ุงูููุฏุงุฑ 4.0 ููุง ููู ูุฏู ุนูู ุฃูู ูุดุชุนู ูุงุฑุง ๐ฅโฌ</li>
      </ul>
<p>
      </p>
<center><img src="/about/stats/load_week.png"></center>
    
</div>
{{/layout}}
