{{#> layout }}
<div class="about">
    <center><h2>О сервисе| <a href="/about/news">Новости</a> | <a href="/about/usage">Использование</a> | <a href="/about/faq">FAQ</a> | <a href="/about/stats">Статистика</a> | <a href="/about/privacy">Конфиденциальность</a>
</h2></center>

    <p>Сервер<tt>keys.openpgp.org</tt> является общедоступной службой для распространения и поиска OpenPGP-совместимых ключей, обычно называемый "keyserver".</p>

    <p><strong>Для инструкций смотрите наше <a href="/about/usage">руководство пользования</a>.</strong></p>

    <h3>Принцип работы</h3>

    <p>OpenPGP ключ содержит два типа информации:</p>

    <ul>
<li>
<strong>Идентификационная информация</strong> является частью ключа идентифицируещая его владельца, также известная как "идентификаторы пользавателя". Идентификатор пользователя обычно содержит имя и адрес электронной почты.</li>
        <li>
<strong>Неидентификационная информация</strong> — это все технические данные о самом ключе. Они включают в себя большие числа, используемые для проверки подписей и шифрования сообщений. А также метаданные, такие как дата создания, некоторые даты истечения срока действия и статус отзыва.</li>
    </ul>
<p>Традиционно эта информация распространялась вместе. На <span class="brand">keys.openpgp.org</span> с ней обращаются по-другому. Притом, что каждый может загрузить все части любого OpenPGP ключа на <span class="brand">keys.openpgp.org</span>, наш keyserver сохранит и опубликует только определённые части при определённых условиях:</p>

    <p>Любая <strong>неидентификационная информация</strong> будет храниться и беспрепятственно распространяться, если пройдет криптографическую проверку на целостность. Любой человек может загрузить эти части в любое время, так как они содержат только технические данные, которые не могут быть использованы для непосредственной идентификации человека. Хорошие OpenPGP программы могут использовать <span class="brand">keys.openpgp.org</span> для поддержания этой информации в актуальном состоянии для любого, им известного, ключа. Это помогает пользователям OpenPGP поддерживать безопасную и надежную связь.</p>

    <p><strong>Идентификационная информация</strong> в ключе OpenPGP распространяется только с согласия. Она содержит персональные данные и не является строго необходимой для шифрования или проверки подписи. После того, как владелец дает согласие, проверив свой адрес электронной почты, ключ можно найти при помощи поиска по адресу.</p>

    <h3 id="community">Сообщество и платформа</h3>

    <p>Этот сервис существует на общественных началах. Вы можете связаться с нами в канале #hagrid на Freenode IRC, а также в канале #hagrid:stratum0.org на Matrix. Конечно, вы также можете воспользаваться электронной почтой по адресу <tt>support эт keys пункт openpgp пункт org</tt>. Люди, запустившие этот сервис, пришли из различных OpenPGP проектов, таких как Sequoia-PGP, OpenKeychain и Enigmail.</p>

    <p>Технически, <tt>keys.openpgp.org</tt> работает на <a href="https://gitlab.com/keys.openpgp.org/hagrid" target="_blank">Hagrid</a> софте, который базируется на <a href="https://sequoia-pgp.org">Sequoia-PGP</a>. Мы работаем на хостинговой платформе <a href="https://eclips.is" target="_blank">eclips.is</a>, ориентированной на Internet Freedom проекты, под управлением <a href="https://greenhost.net/" target="_blank">Greenhost</a>.</p>
</div>
{{/layout}}
