{{#> layout}}
  {{#with page}}
  <div id="container">
    <p>
      {{ text "Verifying your email address…" }}
    </p>

    <p>
      <form method="POST" action="/verify/{{token}}" id="postform">
        {{ text "If the process doesn't complete after a few seconds, please <input type=\"submit\" class=\"textbutton\" value=\"click here\" />." }}
      </form>
    </p>
  </div>

  <script src="/assets/js/upload-verify.js" type="text/javascript"></script>
  {{/with}}
{{/layout}}
