{{#> layout }}
<div class="about">
    <center><h2>서비스 소개 | <a href="/about/news">새 소식</a> | <a href="/about/usage">사용 안내</a> | <a href="/about/faq">자주 묻는 질문</a> | <a href="/about/stats">통계</a> | <a href="/about/privacy">개인 정보 보호</a>
</h2></center>

    <p><span class="brand">keys.openpgp.org</span> 서비스는 OpenPGP 호환 키의 배포와 발견을 위한 공공 키서버입니다.</p>

    <p><strong>사용 방법에 대해선 <a href="/about/usage">사용 안내서</a>를 읽어보세요.</strong></p>

    <h3>어떻게 돌아가나요?</h3>

    <p>OpenPGP 키는 두 종류의 정보를 담고 있습니다:</p>

    <ul>
<li>
<strong>명의 정보</strong>는 해당 키의 주인을 명시하는 "사용자 ID" 부분을 뜻합니다. 사용자 ID는 이름과 전자 메일 주소를 포함합니다.</li>
        <li>
<strong>비-명의 정보</strong>는 키 그 자체에 대한 기술적인 부분을 뜻합니다. 비-명의 정보는 서명 검증이나 정보 암호화에 쓰이는 굉장히 큰 소수라든가 하는 핵심 정보와 키 생성 날짜, 만료일, 폐기 여부 등등의 메타데이터를 담고 있습니다.</li>
    </ul>
<p>전통적으로, 이 둘은 항상 함께 배포되곤 했습니다. 하지만 <span class="brand">keys.openpgp.org</span>에서는 이 둘이 서로 다르게 처리됩니다. 어떤 OpenPGP 키든 누구나 <span class="brand">keys.openpgp.org</span>에 올릴 수 있긴 하지만, 본 키서버는 다음 조건이 맞는다는 가정 하에 매우 특정한 정보만을 저장하고 공개합니다:</p>

    <p><strong>비-명의 정보</strong> 부분은 암호학적 무결성 검증을 통과한다면 제한 없이 저장되고 배포됩니다. 이 기술적인 정보 부분은 개개인을 특정할 수 없기 때문에, 누구든 이 정보를 언제든 내려받을 수 있습니다. 잘 구현된 OpenPGP 소프트웨어는 보유한 키 정보를 최신으로 유지하기 위해 얼마든지 <span class="brand">keys.openpgp.org</span> 서비스를 이용할 수 있습니다. 이를 통해 OpenPGP 사용자는 소통의 보안과 안정성을 유지할 수 있습니다.</p>

    <p>OpenPGP 키 안에 포함된 <strong>명의 정보</strong> 부분은 명시적인 동의가 이뤄진 경우에 한해서 배포됩니다. 명의 정보 부분은 암호화나 서명 검증에 반드시 필요한 것도 아닐 뿐더러, 당연하게도 개인 정보에 해당하기 때문이죠. 키 소유주가 전자 메일 주소를 인증하고 공개에 명시적인 동의를 표해야 비로소 해당 키를 주소로 찾을 수 있게 됩니다.</p>

    <h3 id="community">커뮤니티와 플랫폼</h3>

    <p>이 서비스는 커뮤니티 공동의 노력으로 운영하고 있습니다. Freenode IRC 서버의 #hagrid 채널에 찾아오세요. Matrix의 #hagrid:stratum0.org에서도 우리를 만나실 수 있습니다. 물론 <tt>support 골뱅이 keys 닷 openpgp 닷 org</tt>로 전자 메일을 보내셔도 됩니다. 이 서비스는 Sequoia-PGP, OpenKeychain, 그리고 Enigmail 같은, OpenPGP 생태계를 이루는 다양한 프로젝트 출신들이 모여서 운영합니다.</p>

    <p>기술적인 부분에서 말씀드리자면, <span class="brand">keys.openpgp.org</span> 서비스는 <a href="https://sequoia-pgp.org">Sequoia-PGP</a> 기반의 <a href="https://gitlab.com/keys.openpgp.org/hagrid" target="_blank">Hagrid</a> 키서버 소프트웨어로 동작합니다. 서버의 경우에는 <a href="https://greenhost.net/" target="_blank">Greenhost</a>가 관리하는 자유 인터넷 프로젝트 중심 호스팅 플랫폼 <a href="https://eclips.is" target="_blank">eclips.is</a>에서 제공합니다.</p>
</div>
{{/layout}}
