{{#> layout }}
<div class="about">
    <center><h2>
<a href="/about">서비스 소개</a> | 새 소식 | <a href="/about/usage">사용 안내</a> | <a href="/about/faq">자주 묻는 질문</a> | <a href="/about/stats">통계</a> | <a href="/about/privacy">개인 정보 보호</a>
</h2></center>

    <h2 id="2019-11-12-celebrating-100k">
      <div style="float: right; font-size: small; line-height: 2em;">2019-11-12 📅</div>
      <a style="color: black;" href="/about/news#2019-11-12-celebrating-100k">주소 인증 100,000건을 달성했습니다! 📈</a>
    </h2>

    <p>서비스를 개시한 지 불과 5개월만에, 오늘 우리는 하나의 마일스톤을 달성했습니다:</p>
<center style="margin-top: 2em; margin-bottom: 2em;">
<img src="/assets/img/stats-addresses-2019-11-12.png" style="padding: 1px; border: 1px solid gray;"><br><strong>무려 십만 개의 전자 메일 주소가 인증됐습니다!</strong>
</center>

    <p>이 서비스를 사용해주셔서 고맙습니다! 특히 사용자 의견 투고나 번역 제공, 소스 코드 기여 등의 도움을 주신 분들이 계신 것에 대단히 고마움을 느낍니다.</p>
<p>그간 우리가 준비한 것 몇 개를 알려드립니다:</p>
<ul>
<li>이 새 소식 페이지는 이제 <strong><a target="_blank" href="/atom.xml">ATOM 피드<img src="/assets/img/atom.svg" style="height: 0.8em;"></a></strong>로도 제공됩니다.</li>
        <li>사용자의 개인 정보를 더 효과적으로 보호할 수 있는 <strong><a target="_blank" href="https://gitlab.com/keys.openpgp.org/hagrid/issues/131">새로운 키 갱신 방식</a></strong>을 고려 중입니다.</li>
        <li>
<strong>현지화 작업</strong>에 전력 집중하고 있습니다! 곧 이 서비스를 몇몇 언어로 제공할 수 있길 기대합니다.</li>
    </ul>
<p>만약 여러분의 언어로 <span class="brand">keys.openpgp.org</span> 서비스가 제공되길 원한다면 Transifex <a target="_blank" href="https://www.transifex.com/otf/hagrid/">번역 팀에 참여하세요</a>. 지금 당장은 <strong>러시아어</strong>, <strong>이탈리아어</strong>, <strong>폴란드어</strong>와 <strong>네덜란드어</strong> 번역에 특히 도움이 필요합니다.</p>
<p>이상으로 현재 상황을 짧게 알려드렸습니다! <span style="font-size: x-large;">👍️</span></p>
<hr style="margin-top: 2em; margin-bottom: 2em;">
<h2 id="2019-09-12-three-months-later">
      <div style="float: right; font-size: small; line-height: 2em;">2019-09-12 📅</div>
      <a style="color: black;" href="/about/news#2019-09-12-three-months-later">서비스 개시 후 3개월이 지났습니다 ✨</a>
    </h2>

    <p>우리가 <span class="brand">keys.openpgp.org</span> <a href="/about/news#2019-06-12-launch">서비스를 개시</a>한 지 벌써 3개월이 지났습니다. 이에 다음 사실을 기쁘게 알려드립니다: 그야말로 대성공이에요! 🥳</p>
<h4>각종 클라이언트의 서비스 도입</h4>

    <p><span class="brand">keys.openpgp.org</span> 키서버가 사용자 사이에서 호평을 받으면서 각종 클라이언트가 우리 서비스를 도입하는 사례가 매우 빠르게 늘고 있습니다. 이제 <a href="https://gpgtools.org/" target="_blank">GPGTools</a>, <a href="https://enigmail.net/" target="_blank">Enigmail</a>, <a href="https://www.openkeychain.org/" target="_blank">OpenKeychain</a>, <a href="https://github.com/firstlookmedia/gpgsync" target="_blank">GPGSync</a>, Debian, NixOS 등이 우리 서비스를 기본 키서버로 사용합니다. 많은 튜토리얼 문서가 사용자로 하여금 우리 서비스를 사용하도록 수정되기도 했고요.</p>
<p>이 소식을 쓰는 지금 시점으로 벌써 70,000개가 넘는 전자 메일 주소가 인증됐습니다.</p>
<center style="margin-top: 2em; margin-bottom: 2em;">
<img src="/assets/img/stats-addresses-2019-09-12.png" style="padding: 1px; border: 1px solid gray;"><br><span style="font-size: smaller;">이게 잘 나가는 그래프가 아니라고 할 수 있는 사람? :)</span>
</center>

    <p>macOS용 GPGTools 팀에게 특별히 고마움의 말씀을 전합니다. GPGTools 클라이언트 안에서의 키 갱신 절차를 대단히 잘 구현한 덕분에, 클라이언트 판올림 직후 우리 키서버에서 인증된 전자 메일 주소 개수가 아주 폭발적으로 늘어났다니까요.</p>
<h4>서비스 운영은 아주 순조롭습니다</h4>

    <p>운영 측면에서는 그닥 알려드릴 만한 게 없네요. 이런 게 바로 "무소식이 희소식"인 거죠! 개시부터 지금까지 우리는 서비스 불통이 거의 없었습니다. 키 올리기 절차에서 잠깐 문제를 일으킨 버그가 딱 하나 있었고요, 사용자 지원 문의율은 아주 바람직할 정도로 낮았습니다.</p>
<p>네트워크 통행량은 대충 초당 요청 10개 선에서 머물고 있습니다. (낮시간엔 좀 더 많고, 주말엔 좀 더 적어요.) 지금까지 발송한 전자 메일은 대략 100,000통 정도 됩니다. 이 정도야 가뿐하죠.</p>
<p>운영 측면에서 자잘한 개선은 꽤 있었습니다. 대충 꼽아보자면 <a href="http://dnsviz.net/d/keys.openpgp.org/dnssec/" target="_blank">DNSSEC</a> 적용, <a href="/about/api#rate-limiting" target="_blank">API 요청량 제한</a> 적용, <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP">콘텐츠 보안 정책</a> 헤더의 영구 적용, 그리고 Tor Onion 서비스에 <a href="https://blog.torproject.org/whats-new-tor-0298" target="_blank">단일-단계</a> 모드 적용 정도가 있겠네요. 개선 사항 전체 목록은 <a href="https://gitlab.com/keys.openpgp.org/hagrid/merge_requests?scope=all&amp;utf8=%E2%9C%93&amp;state=merged" target="_blank">여기서</a> 볼 수 있습니다.</p>
<h4>MTA-STS를 통한 안전한 전자 메일 발송</h4>

    <p>이건 좀 중요하니까 따로 언급할게요. <a href="https://www.hardenize.com/blog/mta-sts">MTA-STS</a> 적용을 통해 전자 메일 발신의 보안성을 끌어올렸습니다.</p>
<p>요즘 HTTPS 적용 안 한 곳을 찾기가 힘들 정도죠. 그런데 전자 메일쪽은 완전히 상황이 다릅니다. 상당한 수의 메일 서버가 암호화 통신을 하지 않거나, 기껏 하더라도 보안성이라고는 하나도 없는 스스로 서명된 인증서로 틀어막았다거나 하는 상황이 부지기수네요. (Let's Encrypt처럼 제대로 된 것 좀 쓰지....) 뭐, 사용자 입장에서는 보안성이 좀 떨어지더라도 일단 잘 가는 게 중요하니까... 그래서 아직도 무수히 많은 전자 메일이 암호화 통신 없이 오고가나봅니다.</p>
<p>MTA-STS를 적용하면, 도메인 운영자는 자기네 전자 메일 서버가 암호화 통신을 <em>지원함을</em> (HTTPS를 통해) 안내할 수 있습니다. 이러한 서버로의 보안 통신이 연결될 수 없다면 메시지 전달은 지연되거나, 궁극적으로는 반송됩니다. 즉, 안전성을 보장할 수 없으면 메시지를 아예 전달하지 않아요.</p>
<p><span class="brand">keys.openpgp.org</span> 같은 서비스 입장에서는 이게 대단히 유용한 기술입니다. 충분히 신뢰할 수 있는 암호화 통신을 쓰지 않는다면 공격자가 중간에 인증 전자 메일을 비교적 쉽게 가로챌 수 있거든요. MTA-STS를 적용한 전자 메일 서비스 제공자에 한해서 우리는 모든 메시지가 올바른 서버에게 안전히 전달됐음을 보장할 수 있습니다.</p>
<p>내 전자 메일 서비스 제공자가 MTA-STS를 지원하는지 <a href="https://aykevl.nl/apps/mta-sts/" target="_blank">점검해보세요</a>. 만약 지원하지 않는 걸로 나타나면, 고객 지원에 연락해서 보안 수준 좀 끌어올리라고 반드시 요청하세요!</p>
<h4>아직 준비 중인 것</h4>

    <p>현재 두 가지 기능에 집중하고 있어요:</p>
<p>일단 첫째로 <strong>지역화</strong>가 있습니다. 우리는 지금까지 오로지 영어만 지원해왔는데, 대다수의 사람들은 영어를 못 하거든요. 접근성 측면에서 이걸 해결하고자 우리는 OTF의 <a href="https://www.opentech.fund/labs/localization-lab/" target="_blank">Localization Lab</a>과 협업하여 이 웹 사이트와 전자 메일 발송을 여러 언어로 가능하게끔 노력하고 있습니다.</p>
<p>둘째로는 <strong>제삼자 서명</strong>을 다시 부활시키는 겁니다. <a href="/about/faq#third-party-signatures">자주 묻는 질문에서 언급했듯</a>, 우리는 현재 스팸이나 악용 가능성의 문제 때문에 제삼자 서명을 지원하지 않고 있어요. 지금까지 대안으로 제시된 건 키 주인이 어떤 사람에게서 받은 제삼자 서명을 공개할지 직접 선택할 수 있도록 <a href="https://gitlab.com/openpgp-wg/rfc4880bis/merge_requests/20/diffs" target="_blank">상호 서명</a>을 요구하는 방안이 있겠네요. 키 주인 입장에서는 뭔가 더 귀찮겠지만, 이 방식은 현존하는 소프트웨어와도 꽤나 호환 가능하다는 것과, 서명이고 뭐고 신경 안 쓰는 사람들에게는 전혀 방해가 안 된다는 장점이 있습니다.</p>
<p>이 두 가지 기능은 이미 상당한 작업이 진행되긴 했지만 언제 공개할지는 미정입니다.</p>
<p>(<a href="/about/news#2019-06-12-launch-challenges">지난 번 소식</a>이랑 <a href="/about/faq#older-gnupg" target="_blank">자주 묻는 질문</a>에서 언급했던) GnuPG의 "<tt>no user ID</tt>" 문제 관련해서는, 이걸 해결하는 패치가 Debian과 macOS용 GPGTools에는 적용됐지만 아직 GnuPG 그 자체에는 적용이 안 됐다는 걸 알려드립니다.</p>
<p>이상입니다! 관심 가지고 지켜봐줘서 고마워요! <span style="font-size: x-large;">👋</span></p>
<hr style="margin-top: 2em; margin-bottom: 2em;">
<h2 id="2019-06-12-launch">
      <div style="float: right; font-size: small; line-height: 2em;">2019-06-12 📅</div>
      <a href="/about/news#2019-06-12-launch" style="color: black;">새로운 키서버를 발족합니다! 🚀</a>
    </h2>

    <p>오늘 우리는 <a href="https://enigmail.net" target="_blank">Enigmail</a> 팀, <a href="https://openkeychain.org" target="_blank">OpenKeychain</a> 팀, 그리고 <a href="https://sequoia-pgp.org">Sequoia PGP</a> 팀이 공동으로 준비해온 새로운 공개 OpenPGP 키서버인 <span class="brand">keys.openpgp.org</span> 서비스의 개시를 발표합니다! 만세! 🎉</p>
<h4>짧막한 소개 좀 부탁합니다!</h4>

    <ul>
<li>빠르고 안정적입니다. 요청 응답을 기다릴 필요도 없고, 서비스 불통도 없으며, 모순되는 부분도 없습니다.</li>
      <li>정확합니다. 키 찾기는 오로지 단 하나의 키만 반환하기에, 매우 쉽게 키를 발견할 수 있어요.</li>
      <li>사용자 인증을 거칩니다. 키의 명의 정보는 오로지 본인 동의가 있을 때만 공개됩니다. 반면, 비-명의 정보는 아무런 제한 없이 배포돼요.</li>
      <li>잊힐 수 있습니다. 사용자는 간단한 전자 메일 인증을 통해 개인 정보를 완전히 제거할 수 있습니다.</li>
      <li>자유 오픈 소스 (AGPLv3) 라이브러리인 <a href="https://sequoia-pgp.org" target="_blank">Sequoia PGP</a>를 기반으로, 러스트 프로그래밍 언어로 만들어졌습니다.</li>
    </ul>

    지금 당장 <a href="/upload">내 키를 올려보세요</a>!

    <h4>왜 또 새로운 키서버를 만들었나요?</h4>

    <p><span class="brand">keys.openpgp.org</span> 서비스는 현재 많은 응용 프로그램에서 기본으로 사용하는 SKS 키서버 풀에 대한 대안으로 만들어졌습니다. 이 키서버 분산 네트워크는 최근 들어 <a target="_blank" href="https://medium.com/@mdrahony/are-sks-keyservers-safe-do-we-need-them-7056b495101c">악용되고</a>, <a target="_blank" href="https://en.wikipedia.org/wiki/Key_server_(cryptographic)#Problems_with_keyservers">태생적인 성능 한계를 가졌으며</a>, <a href="http://www.openwall.com/lists/oss-security/2017/12/10/1">개인 정보 문제를 겪고 있고</a>, <a target="_blank" href="http://nongnu.13855.n7.nabble.com/SKS-apocalypse-mitigation-td228252.html">GDPR</a> 준수 여부도 도마에 올랐습니다. Kristian Fiskerstrand는 분명 <a target="_blank" href="https://blog.sumptuouscapital.com/2016/12/10-year-anniversary-for-sks-keyservers-net/">십 년이 넘는 기간 동안</a> 풀을 유지해오는 대단한 업적을 세웠습니다만, 이제는 그 개발 여력도 <a target="_blank" href="https://bitbucket.org/skskeyserver/sks-keyserver/pull-requests/60/clean-build-with-405">거의 바닥난 듯하네요</a>.</p>
<p>이제는 이러한 해묵은 문제를 해결할 신선한 접근법이 필요하다는 게 우리 생각이었죠.</p>
<h4>명의 정보와 비-명의 정보</h4>

    <p><span class="brand">keys.openpgp.org</span> 키서버는 우선 키 안에 들어있는 명의 정보와 비-명의 정보를 쪼개는 것부터 시작합니다. 자세한 사항은 <a href="/about" target="_blank">서비스 소개 페이지</a>에서 찾을 수 있지만, 일단 간단히 요약해보자면: 키의 기술적인 부분이나 폐기 여부 같은 비-명의 정보는 자유로이 배포되지만, 전자 메일 주소와 이름에 해당하는 명의 정보는 오로지 사용자 동의가 있어야 배포가 가능하고, 그 동의에 대한 철회도 언제든지 가능하다는 겁니다.</p>
<p>만약 어떤 전자 메일 주소가 새로운 키에 대해 인증되면 이 키는 기존에 해당 주소에 대해 결부돼있던 키를 대체합니다. 이렇게 함으로써 모든 전자 메일 주소는 오로지 단 하나의 키에만 엮이게 됩니다. 주소 주인은 언제나 해당 주소를 공개된 목록에서 내려버릴 수도 있고요. 사실 이렇게 되면 키 발견 측면에서 엄청난 이득이 생깁니다: 전자 메일 주소로 키를 찾았을 때 단 하나의 키만 반환된다면 오로지 이 키만이 해당 전자 메일 주소에 대해 올바르다는 뜻이 되거든요.</p>
<h4>Enigmail과 OpenKeychain이 지원합니다</h4>

    <p><span class="brand">keys.openpgp.org</span> 키서버는 곧 판올림될 Thunderbird용 <a href="https://enigmail.net" target="_blank">Enigmail</a>과 Android용 <a href="https://play.google.com/store/apps/details?id=org.sufficientlysecure.keychain&amp;hl=en">OpenKeychain</a>의 전폭적인 지원을 받습니다. 이게 무엇이냐 하면 해당 구현체 사용자들은 우리 서비스가 약속하는 빠른 응답 시간과 전자 메일 주소로의 개선된 키 찾기를 바로 누릴 수 있다는 거죠. 우리는 이 작은 한 걸음이 커뮤니티 사이의 더 큰 협력을 불러일으키길 바랍니다.</p>
<h4 id="2019-06-12-launch-challenges">현재 걸림돌로 남아있는 것</h4>

    <p>키서버 그 자체에 개인 정보 보호 기법을 녹여내는 건 아직 굉장히 생소하다고 봐야 합니다. 필연적으로, 명의 정보를 분리시키는 이 발상 자체가 몇몇 호환성 문제를 불러일으키고 있습니다. 애석하게도 말이죠.</p>
<p>대표적으로, (이 글을 쓰는 현재 2.2.16 버전인) GnuPG는 명의 정보가 없는 OpenPGP 키를 접할 경우 "no user ID" 오류를 뿜고 즉시 처리를 멈춰버립니다. 즉, (폐기 인증서 같은) 비-명의 부분이 암호학적으로 올바를지라도 처리를 거부해버리는 것이죠. 우리는 현재 이 문제를 해결하기 위해 분주히 노력하고 있습니다.</p>
<h4>앞으로의 계획</h4>

    <p>키서버 그 자체에 개인 정보 보호 기법을 녹여내는 건 매우 새로운 발상이고, 우리는 여기에 덧붙여 메타데이터 자체를 최소화할 수 있는 여러 방법을 생각 중에 있습니다. 뭐, 그래도 지금 당장은 <span class="brand">keys.openpgp.org</span> 서비스를 🐇 안정적이고 빠르게 유지하고, 🐞 추후 발생할 버그를 고쳐나가며, 👂 커뮤니티로부터 오는 <a href="/about#community">사용자 의견에 귀를 기울일 생각입니다</a>.</p>
<p>더 자세한 정보는 <a target="_blank" href="/about">서비스 소개</a> 페이지나 <a target="_blank" href="/about/faq">자주 묻는 질문</a> 페이지를 참고하세요. 지금 당장이라도 <a href="/upload" target="_blank">내 키를 올려보세요</a>! 이외에도 <a target="_blank" href="/about/api">API</a>라든가 <a target="_blank" href="/about/faq#tor">Onion 서비스</a> 같은 멋진 것들도 준비돼있으니 찬찬히 살펴보세요.</p>
<p>키서버의 미래를 위하여! <span style="font-size: x-large;">🍻</span></p>
</div>
{{/layout}}
