{{#> layout }}
<div class="about">
    <center><h2>
<a href="/about">서비스 소개</a> | <a href="/about/news">새 소식</a> | <a href="/about/usage">사용 안내</a> | <a href="/about/faq">자주 묻는 질문</a> | 통계 | <a href="/about/privacy">개인 정보 보호</a>
</h2></center>

    <h3>전자 메일 주소 인증</h3>

    <p>📈 인증된 전자 메일 주소 개수에 대한 간단한 통계를 내 봤습니다.</p>

    <p>
      </p>
<center><img src="/about/stats/month.png"></center>
    
    <p>
      </p>
<center><img src="/about/stats/year.png"></center>
    

    <h3>평균 부하</h3>

    <p>"평균 부하"란 서버가 얼마나 바쁜지에 대한 수치입니다. 간단히 설명하자면:</p>
<ul>
<li>0.0: <span class="brand">keys.openpgp.org</span> 서버가 하릴없이 놀고 있음</li>
        <li>1.0: 상당히 바쁘게 돌고 있음</li>
        <li>4.0 이상: 어디 서버 타는 냄새 안 나나요? 🔥 불이야!</li>
      </ul>
<p>
      </p>
<center><img src="/about/stats/load_week.png"></center>
    
</div>
{{/layout}}
