{{#> layout }}
<div class="about">
    <center><h2>关于 | <a href="/about/news">新闻</a> | <a href="/about/usage">使用</a> | <a href="/about/faq">常见问题</a> | <a href="/about/stats">统计资料</a> | <a href="/about/privacy">隐私</a>
</h2></center>

    <p><tt>keys.openpgp.org</tt>服务是一个公共服务，
用于发行和寻找兼容 OpenPGP 的密钥。
通常被人们称呼为“密钥服务器”。</p>

    <p><strong>若需要指导，请查阅我们的<a href="/about/usage">用户指南</a>。</strong></p>

    <h3>它是如何工作的</h3>

    <p>一个 OpenPGP 密钥包含两种类型的信息</p>

    <ul>
<li>
<strong>身份信息</strong>描述了能识别其所有者的部分
也被叫做 “用户ID”。
一个用户ID通常包含一个名字和一个电子邮件地址。</li>
        <li>
<strong>非身份信息</strong>是有关密钥本身的所有技术信息。 
这包括用于验证签名和加密消息的大数字。 
它还包括元数据，例如创建日期，
过期日期和吊销状态。</li>
    </ul>
<p>传统上，这些信息一直都被同时分发
但在<span class="brand">keys.openpgp.org</span>，这些信息会被区别对待。
当用户上传完整的 OpenPGP 密钥到<span class="brand">keys.openpgp.org</span>的时候，
我们的密钥服务器只会在特定条件下保留和发布特定的部分：</p>

    <p>一旦通过了密码完整性检查，任何<strong>无身份信息</strong>的部分都将被存储并自由传播。
由于不含有可以直接确认持有者身份的信息，
任何人都可以在任何时间下载这些部分。
优秀的 OpenPGP 软件可以利用<span class="brand">keys.openpgp.org</span>来使本地已知的密钥信息保持最新。
这有助于 OpenPGP用户保持安全有效的通信。</p>

    <p>OpenPGP密钥中包含的<strong>身份信息</strong>仅在获得许可的情况下分发。
密钥包含个人数据，但这些数据对于加密和签名并不是必须的。
当持有者验证了他们的邮件地址之后，密钥便可以使用邮件地址搜索到。</p>

    <h3 id="community">社区和平台</h3>

    <p>此服务是社区的一项工作。
你可以在
Freenode IRC 的 #hagrid 标签下
或者 Matrix 的 #hagrid:stratum0.org 标签下与我们交流
当然你也可以发送电子邮件到<tt>support@keys.openpgp.org</tt>。
运行此程序的人员来自 OpenPGP 生态系统中的多个项目。
包括Sequoia-PGP，OpenKeychain和Enigmail。</p>

    <p>从技术上讲，<tt>keys.openpgp.org</tt>在基于
<a href="https://sequoia-pgp.org">Sequoia-PGP</a>的
<a href="https://gitlab.com/keys.openpgp.org/hagrid" target="_blank">Hagrid</a>密钥服务器软件上运行。我们将网站托管在<a href="https://eclips.is" target="_blank">eclips.is</a>平台上，
该平台由主机服务商<a href="https://greenhost.net/" target="_blank">Greenhost</a>运营，专注于 互联网自由（Internet Freedom） 项目的托管。</p>
</div>
{{/layout}}
