{{#> layout }}
<div class="about usage">
    <center><h2>
<a href="/about">关于</a> | <a href="/about/news">新闻 </a>| 使用 | <a href="/about/faq">常见问题</a> | <a href="/about/stats">统计资料</a> | <a href="/about/privacy">隐私</a>
</h2></center>

    <p>在此页面，我们收集不同OpenPGP软件上使用
<span class="brand">keys.openpgp.org</span>的信息
我们仍在努力添加更多的支持。如果你发现有一些缺失
请写给我们，我们会尝试添加对它的支持。</p>

    <h2>
        <div><img src="/assets/img/enigmail.svg"></div>
        Enigmail
    </h2>
    <p>Thunderbird 组件<a href="https://enigmail.net" target="_blank">Enigmail</a>从版本 2.0.12 开始默认使用<span class="brand">keys.openpgp.org </span></p>
    <p>从 Enigmail 2.1 开始有完整的支持
（<a href="https://www.thunderbird.net/en-US/thunderbird/68.0beta/releasenotes/" target="_blank">Thunderbird 68</a>或更高版本）：</p>
<ul>
<li>密钥将会自动保持更新</li>
            <li>在生成密钥的过程中，你可以上传并验证你的密钥。</li>
            <li>密钥可以通过电子邮件地址搜索到。</li>
        </ul>
<h2>
        <div><img src="/assets/img/gpgtools.png"></div>
        GPG Suite
    </h2>
    <p>Mac系统 <a href="https://gpgtools.org/">GPG Suite</a>
从2019年8月开始默认使用<span class="brand">keys.openpgp.org</span>。</p>

    <h2>
        <div><img src="/assets/img/openkeychain.svg"></div>
        OpenKeychain
    </h2>
    <p>安卓系统<a href="https://www.openkeychain.org/">OpenKeychain</a>
从2019年9月开始默认使用<span class="brand">keys.openpgp.org</span>。</p>
<ul>
<li>密钥将会自动保持更新</li>
            <li>密钥可以通过电子邮件地址搜索到。</li>
        </ul>
<p>注意，目前并不支持程序内置的，上传并验证电子邮件的操作。</p>

    <h2>
        <div><img src="/assets/img/gnupg.svg"></div>
        GnuPG
    </h2>

    <p>要配置<a href="https://gnupg.org">GnuPG</a>使用
<span class="brand">keys.openpgp.org</span>作为密钥服务器
在<tt>gpg.conf</tt>文件里添加如下行：</p>
<blockquote>keyserver hkps://keys.openpgp.org</blockquote>
    

    <h4 id="gnupg-retrieve"><a href="#gnupg-retrieve">检索密钥</a></h4>
    <ul>
<li>使用邮件地址检索用户密钥：<blockquote>gpg --auto-key-locate keyserver --locate-keys user@example.net</blockquote>
        </li>
        <li>要刷新你的所有密钥（例如：新吊销证书或者子密钥）<blockquote>gpg --refresh-keys</blockquote>
        </li>
    </ul>
<h4 id="gnupg-upload"><a href="#gnupg-upload">上传你的密钥</a></h4>
    <p>密钥可以通过GnuPG的<tt>--send-keys</tt>命令上传，
但是通过此方法不能证明身份信息。
即，你不能让此密钥通过电子邮件地址被搜索到（<a href="/about">那是什么？</a>）。</p>

    <ul>
<li>您可以尝试以下快捷方式来上传密钥，
该快捷方式会直接输出链接到验证页面：<blockquote>gpg --export your_address@example.net | curl -T - {{ base_uri }}</blockquote>
        </li>
        <li>或者，您可以将它们导出到文件中，
然后在<a href="/upload" target="_blank">上传</a>界面选中该文件：<blockquote>gpg --export your_address@example.net &gt; my_key.pub</blockquote>
        </li>
    </ul>
<h4 id="gnupg-troubleshooting"><a href="#gnupg-troubleshooting">解决问题</a></h4>
    <ul>
<li>某些旧版的<tt>~/gnupg/dirmngr.conf</tt>文件包含以下行：<blockquote>hkp-cacert ~/.gnupg/sks-keyservers.netCA.pem</blockquote>
            <p>这些配置已经没有必要了，
反而会让某些证书无法运行。
推荐直接在配置文件中删除这一行。</p>
        </li>
        <li>在刷新密钥时，你可能会看到类似的错误：<blockquote>gpg: key A2604867523C7ED8: no user ID</blockquote>
            这是<a href="https://dev.gnupg.org/T4393" target="_blank">GnuPG的已知问题</a>。
我们正与 GnuPG 团队合作来解决这个问题。
        </li>
    </ul>
<h4 id="gnupg-tor"><a href="#gnupg-tor">通过 Tor 使用</a></h4>
    <p>对于需要额外安全性的用户，
<span class="brand">keys.openpgp.org</span>也可以通过
<a href="https://support.torproject.org/onionservices/#onionservices-2" target="_blank">洋葱服务</a>匿名访问。
如果你安装了<a href="https://www.torproject.org/" target="_blank">洋葱浏览器</a>，
则使用如下配置：</p>
<blockquote>keyserver hkp://zkaan2xfbuxia2wpf7ofnkbz6r5zdbbvxbunvp5g2iebopbfc4iqmbad.onion</blockquote>
    

    <h2 style="margin-left: 3%;">API</h2>

    <p>我们提供API以方便在 OpenPGP 应用程序中开发集成支持。
查阅我们的<a href="/about/api">API 文档</a>。</p>

    <h2 style="margin-left: 3%;">其他</h2>

    <p>缺少您最喜欢的实施指南？ 该网站正在开发中，
我们正在寻求改进。 
如果你想帮助我们，请发送邮件到<span class="email">support@keys.openpgp.org</span></p>

</div>
{{/layout}}
