{{#> layout }}
<div class="about">
    <center><h2>About | <a href="/about/news">Novità</a> | <a href="/about/usage">Guida all'uso</a> | <a href="/about/faq">FAQ</a> | <a href="/about/stats">Statistiche</a> | <a href="/about/privacy">Privacy</a>
</h2></center>

    <p>Il server <tt>keys.openpgp.org</tt> è un servizio pubblico per la distribuzione e ricerca di chiavi OpenPGP-compatibili, chiamato comunemente "keyserver".</p>

    <p><strong>Per le istruzioni, vedi la nostra <a href="/about/usage">guida all'uso</a>.</strong></p>

    <h3>Come funziona</h3>

    <p>Una chiave OpenPGP contiene due tipi di informazioni:</p>

    <ul>
<li>
<strong>Informazioni identificative</strong> indica le parti della chiave che identificano il suo proprietario, anche conosciute come "User IDs".
Un User ID tipicamente include un nome e un indirizzo email.</li>
        <li>Le <strong>Informazioni non identificative</strong> sono tutte le informazioni tecniche sulla chiave stessa. Questo include i grandi numeri
usati per verificare le firme e cifrare i messaggi.
Include anche i metadata come data di creazione, alcune date
 di scadenza, e lo stato di revoca.</li>
    </ul>
<p>Di consuetudine, queste informazioni sono sempre state distribuite
congiuntamente. Su <span class="brand">keys.openpgp.org</span>, sono
gestiti differentemente. Mentre chiunque può caricare tutte le parti di una chiave OpenPGP
su <span class="brand">keys.openpgp.org</span>, il nostro keyserver
immagazinerà e pubblicherà solo certe parti sotto certe condizioni:</p>

    <p>Tutte le <strong>informazioni non identificative</strong> saranno conservate e liberamente
ridistribuite, se vengono convalidate dal controllo di integrità crittografica.
Chiunque può scaricare queste parti in qualsiasi momento, dato che contengono solo
dati tecnici che non possono essere usati per identificare una persona.
Un buon software OpenPGP può usare <span class="brand">keys.openpgp.org</span>
per tenere queste informazioni aggiornate per ogni chiave che conosce.
Questo aiuta gli utenti OpenPGP a mantenere la propria comunicazione sicura e affidabile.</p>

    <p>Le <strong>informazioni identificative</strong> in una chiave OpenPGP
sono distribuite solo dietro consenso.
Contengono dati personali, e non sono strettamente necessarie affinché
una chiave possa essere usata per la cifratura o verificare una firma.
Una volta che il proprietario fornisce il proprio consenso verificando il suo indirizzo email,
la chiave può essere trovata tramite la ricerca per indirizzo email.</p>

    <h3 id="community">Comunità e piattaforma</h3>

    <p>Questo servizio è uno sforzo comunitario.
Puoi contattarci su
#hagrid su Freenode IRC,
raggiungibile anche da #hagrid:stratum0.org su Matrix.
Ovviamente puoi anche mandarci una email,
all'indirizzo <tt>support chiocciola keys punto openpgp punto org</tt>.
Le persone che lo portano avanti vengono da vari progetti nell'ecosistema OpenPGP, inclusi  Sequoia-PGP, OpenKeychain, e Enigmail.</p>

    <p>Tecnicamente, <tt>keys.openpgp.org</tt> funziona grazie al software <a href="https://gitlab.com/keys.openpgp.org/hagrid" target="_blank">Hagrid</a>keyserver,
  che è basato su <a href="https://sequoia-pgp.org">Sequoia-PGP</a>.
Stiamo girando su <a href="https://eclips.is" target="_blank">eclips.is</a>,
una piattaforma di hosting incentrata sui progetti di Internet Freedom,
che è gestita da <a href="https://greenhost.net/" target="_blank">Greenhost</a>.</p>
</div>
{{/layout}}
