{{#> layout }}
<div class="about">
    <center><h2>
<a href="/about">About</a> | <a href="/about/news">Novità</a> | <a href="/about/usage">Guida all'uso</a> | <a href="/about/faq">FAQ</a> | Statistiche | <a href="/about/privacy">Privacy</a>
</h2></center>

    <h3>Indirizzi email verificati</h3>

    <p>Una semplice statistica del numero totali di indirizzi email che sono attualmente verificati. 📈</p>

    <p>
      </p>
<center><img src="/about/stats/month.png"></center>
    
    <p>
      </p>
<center><img src="/about/stats/year.png"></center>
    

    <h3>Carico medio</h3>

    <p>Il "carico medio" di un server è una statistica di quanto è impegnato. In sintesi:</p>
<ul>
<li>0.0 significa che l'host <span class="brand">keys.openpgp.org</span> è completamente scarico.</li>
        <li>1.0 è abbastanza carico</li>
        <li>4.0 e oltre significa che va a fuoco 🔥</li>
      </ul>
<p>
      </p>
<center><img src="/about/stats/load_week.png"></center>
    
</div>
{{/layout}}
