{{#> layout }}
<div class="about usage">
    <center><h2>
<a href="/about">About</a> | <a href="/about/news">Novità</a> | Guida all'uso | <a href="/about/faq">FAQ</a> | <a href="/about/stats">Statistiche</a> | <a href="/about/privacy">Privacy</a>
</h2></center>

    <p>In questa pagina abbiamo raccolto le informazioni su come usare
<span class="brand">keys.openpgp.org</span> con diversi prodotti
software OpenPGP.<br>
Ne stiamo ancora aggiungendo altri. Se ne manca uno, puoi
scriverci e proveremo ad aggiungerlo.</p>

    <h2>
        <div><img src="/assets/img/enigmail.svg"></div>
        Enigmail
    </h2>
    <p><a href="https://enigmail.net" target="_blank">Enigmail</a> per Thunderbird
        usa <span class="brand">keys.openpgp.org</span> di default dalla
        versione 2.0.12.</p>
    <p>Pieno supporto è disponibile da Enigmail 2.1
(per <a href="https://www.thunderbird.net/en-US/thunderbird/68.0beta/releasenotes/" target="_blank">Thunderbird 68</a> o più recente):</p>
<ul>
<li>Le chiavi saranno aggiornate automaticamente.</li>
            <li>Durante la creazione delle chiavi, puoi caricare e verificare la tua chiave.</li>
            <li>Le chiavi possono essere cercate per indirizzo email.</li>
        </ul>
<h2>
        <div><img src="/assets/img/gpgtools.png"></div>
        GPG Suite
    </h2>
    <p><a href="https://gpgtools.org/">GPG Suite</a> per macOS
usa <span class="brand">keys.openpgp.org</span> di default
da Agosto 2019.</p>

    <h2>
        <div><img src="/assets/img/openkeychain.svg"></div>
        OpenKeychain
    </h2>
    <p><a href="https://www.openkeychain.org/">OpenKeychain</a> per Android
usa <span class="brand">keys.openpgp.org</span> di default
da Luglio 2019.</p>
<ul>
<li>Le chiavi saranno aggiornate automaticamente.</li>
            <li>Le chiavi possono essere cercate per indirizzo email.</li>
        </ul>
<p>Nota che non c'è alcun supporto predisposto per il caricamento e la verifica degli indirizzi email per ora.</p>

    <h2>
        <div><img src="/assets/img/pignus.png"></div>
        Pignus
    </h2>
    <p><a href="https://www.frobese.de/pignus/">Pignus</a> per iOS
usa <span class="brand">keys.openpgp.org</span> di default
da Novembre 2019.</p>
<ul>
<li>Le tue chiavi possono essere caricate in qualsiasi momento.</li>
            <li>Le chiavi possono essere cercate per indirizzo email.</li>
        </ul>
<h2>
        <div><img src="/assets/img/gnupg.svg"></div>
        GnuPG
    </h2>

    <p>Per configurare <a href="https://gnupg.org">GnuPG</a>
per usare <span class="brand">keys.openpgp.org</span> come keyserver,
aggiungi questa riga al tuo file <tt>gpg.conf</tt>:</p>
<blockquote>keyserver hkps://keys.openpgp.org</blockquote>
    

    <h4 id="gnupg-retrieve"><a href="#gnupg-retrieve">Reperire una chiave</a></h4>
    <ul>
<li>Per trovare la chiave di un utente, per indirizzo email:<blockquote>gpg --auto-key-locate keyserver --locate-keys user@example.net</blockquote>
        </li>
        <li>Per rinnovare tutte le tue chiavi (ossia nuovi certificati di revoca e sottochiavi):<blockquote>gpg --refresh-keys</blockquote>
        </li>
    </ul>
<h4 id="gnupg-upload"><a href="#gnupg-upload">Caricare la tua chiave</a></h4>
    <p>Le chiavi possono essere caricate con il comando <tt>--send-keys</tt> di GnuPG, ma
le informazioni identificative non possono essere verificate in questo modo per rendere la chiave
ricercabile per indirizzo email (<a href="/about">Cosa vuol dire?</a>)</p>

    <ul>
<li>Puoi provare questa scorciatoia per caricare la tua chaive, che restituisce
un link diretto alla pagina di verifica:<blockquote>gpg --export your_address@example.net | curl -T - {{ base_uri }}</blockquote>
        </li>
        <li>In alternativa, puoi esportarle in un file
e selezionare quel file nella pagina di <a href="/upload" target="_blank">caricamento</a>:<blockquote>gpg --export your_address@example.net &gt; my_key.pub</blockquote>
        </li>
    </ul>
<h4 id="gnupg-troubleshooting"><a href="#gnupg-troubleshooting">Risoluzione dei problemi</a></h4>
    <ul>
<li>Alcuni vecchi file <tt>~/gnupg/dirmngr.conf</tt> contengono una linea come questa:<blockquote>hkp-cacert ~/.gnupg/sks-keyservers.netCA.pem</blockquote>
            <p>Questa configurazione non è più necessaria,
ma impedisce il funzionamento dei normali certificati.
Si raccomanda di rimuovere semplicemente questa linea dalla configurazione.</p>
        </li>
        <li>Mentre rinnovi le chiavi, potresti vedere errori come questi:<blockquote>gpg: key A2604867523C7ED8: no user ID</blockquote>
            Questo è un <a href="https://dev.gnupg.org/T4393" target="_blank">problema noto in GnuPG</a>.
Stiamo lavorando con il team GnuPG per risolvere questo problema.
        </li>
    </ul>
<h4 id="gnupg-tor"><a href="#gnupg-tor">Uso tramite Tor</a></h4>
    <p>Per gli utenti che vogliono prendere precauzioni aggiuntive, <span class="brand">keys.openpgp.org</span> può essere raggiunto anonimamente come un
<a href="https://support.torproject.org/onionservices/#onionservices-2" target="_blank">servizio onion</a>.
Se hai
<a href="https://www.torproject.org/" target="_blank">Tor</a>
installato, puoi usare la seguente configurazione:</p>
<blockquote>keyserver hkp://zkaan2xfbuxia2wpf7ofnkbz6r5zdbbvxbunvp5g2iebopbfc4iqmbad.onion</blockquote>
    

    <h2 style="padding-left: 3%;" id="wkd-as-a-service"><a style="color: #050505;" href="#wkd-as-a-service">WKD as a Service</a></h2>

    <p>Il Web Key Directory (WKD) è uno standard per la ricerca delle chiavi OpenPGP per indirizzo email, tramite il dominio della email.
Viene usato per cercare le chiavi sconosciute in alcuni client email, come <a href="https://www.gpg4win.de/about.html" target="_blank">GpgOL</a>.</p>
<p><span class="brand">keys.openpgp.org</span> può essere usato come un servizio WKD gestito per un qualsiasi dominio.
Per farlo, al dominio serve semplicemente una voce <tt>CNAME</tt> che deleghi il suo sotto-dominio <tt>openpgpkey</tt> a <tt>wkd.keys.openpgp.org</tt>.Dovrebbe essere possibile farlo nell'interfaccia web dell'host del DNS.</p>
<p>Una volta abilitato per il dominio, l'indirizzo verificato sarà automaticamente disponibile per la ricerca tramite WKD.</p>
<p>La voce <tt>CNAME</tt> dovrebbe assomigliare a questa:</p>
<blockquote>$ drill openpgpkey.example.org<br>
...<br>
openpgpkey.example.org.       300     IN      CNAME   wkd.keys.openpgp.org.</blockquote>

    <p>C'è un pratico indicatore per verificare lo stato del servizio:</p>
<blockquote>$ curl 'https://wkd.keys.openpgp.org/status/?domain=openpgpkey.example.org'<br>
        CNAME lookup ok: openpgpkey.example.org resolves to wkd.keys.openpgp.org<br>
</blockquote>

    <p>Per provare la ricerca delle chiavi:</p>
<blockquote>$ gpg --locate-keys --auto-key-locate clear,nodefault,wkd address@example.org<br>
</blockquote>

    <h2 style="margin-left: 3%;">API</h2>

    <p>Offriamo una API con supporto integrato per le applicazioni OpenPGP.
Visita
la nostra <a href="/about/api">documentazione API</a>.</p>

    <h2 style="margin-left: 3%;">Altri</h2>

    <p>Manca una guida per la tua implementazione preferita? Questo sito è un work-in-progress, e vogliamo migliorarlo. Scrivici a <span class="email">support chiocciola keys punto openpgp punto org</span> se vuoi darci una mano!</p>

</div>
{{/layout}}
